In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [4]:
cum_data = pd.read_csv('data/TEMP/경락가격/오이/오이 월별 총거래(정제).csv', index_col=None)
cum_data

        Date    총거래물량      총거래금액       평균거래금액  시장
0    2020-01   2720.0    3808000  1400.000000  서울
1    2020-02   1340.0    3515000  2623.134328  서울
2    2020-03   1300.0    1400000  1076.923077  서울
3    2020-04    840.0     705500   839.880952  서울
4    2020-05   4320.0    2747000   635.879630  서울
..       ...      ...        ...          ...  ..
208  2023-04  17880.0   44668900  2498.260626  광주
209  2023-05  37490.0   74338700  1982.894105  광주
210  2023-06  37475.0   51630720  1377.737692  광주
211  2023-07  99846.0  131826220  1320.295455  광주
212  2023-08  44068.0   54659580  1240.346283  광주

[213 rows x 5 columns]

In [27]:
seoul_cum_data = cum_data[cum_data['시장'] == '서울']

KeyError: '시장'

In [ ]:
# seoul_cum_data.sort_values(by='Date')

       Date     총거래물량      총거래금액       평균거래금액  시장
0   2020-01    2720.0    3808000  1400.000000  서울
1   2020-02    1340.0    3515000  2623.134328  서울
2   2020-03    1300.0    1400000  1076.923077  서울
3   2020-04     840.0     705500   839.880952  서울
4   2020-05    4320.0    2747000   635.879630  서울
5   2020-06  122180.0  154551500  1264.949255  서울
6   2020-07  187830.0  166273500   885.233988  서울
7   2020-08  153645.0  309458000  2014.110449  서울
8   2020-09  202482.0  446301000  2204.151480  서울
9   2020-10  120148.0   90803000   755.759563  서울
10  2020-11   14870.0   17918500  1205.010087  서울
11  2020-12     330.0     399000  1209.090909  서울
12  2021-02     230.0     211000   917.391304  서울
13  2021-03    1345.0    2241500  1666.542751  서울
14  2021-04    4421.0    9596800  2170.730604  서울
15  2021-05   30569.0   58597800  1916.902745  서울
16  2021-06  142651.0  189035900  1325.163511  서울
17  2021-07  278929.0  323522000  1159.872226  서울
18  2021-08  255150.0  310796500  1218.093278  서울
19  2021-09  261648.0  377483000  1442.713111  서울
20  2021-10   81372.0  139907500  1719.356781  서울
21  2021-11   22565.0   75779500  3358.276091  서울
22  2021-12    2870.0    6287000  2190.592334  서울
23  2022-01   13090.0   27531000  2103.208556  서울
24  2022-02   10530.0   24209500  2299.097816  서울
25  2022-03   14140.0   25811000  1825.388967  서울
26  2022-04   15530.0   27518500  1771.957502  서울
27  2022-05   24620.0   33193500  1348.233144  서울
28  2022-06   66580.0   90292000  1356.142986  서울
29  2022-07  140685.0  347148500  2467.558730  서울
30  2022-08  178810.0  445379000  2490.794698  서울
31  2022-09  269573.0  392509500  1456.041592  서울
32  2022-10  131440.0  173065500  1316.688223  서울
33  2022-11   21050.0   21267000  1010.308789  서울
34  2023-01    3430.0    9907000  2888.338192  서울
35  2023-02    1160.0    3318000  2860.344828  서울
36  2023-03     857.0    2386000  2784.130688  서울
37  2023-04      70.0     126000  1800.000000  서울
38  2023-05   23660.0   32051000  1354.649197  서울
39  2023-06   96620.0  103810000  1074.415235  서울
40  2023-07  130450.0  239770000  1838.022231  서울
41  2023-08   59818.0   91603000  1531.361797  서울

In [1]:
get_data = pd.read_excel('data/ORG/경락가격/오이/오이 월별 총거래(원본).xlsx', index_col=None)

NameError: name 'pd' is not defined

In [ ]:
get_data = get_data.sort_index(ascending=False)

NameError: name 'get_data' is not defined

In [ ]:
seoul_data = get_data[get_data['시장명'].str.contains('서울')]
busan_data = get_data[get_data['시장명'].str.contains('부산')]
daegu_data = get_data[get_data['시장명'].str.contains('대구')]
daejeon_data = get_data[get_data['시장명'].str.contains('대전')]
gwangju_data = get_data[get_data['시장명'].str.contains('광주')]

NameError: name 'get_data' is not defined

In [20]:
seoul_date = seoul_data['DATE'].unique()
print(seoul_date)
busan_date = busan_data['DATE'].unique()
print(busan_date)
daegu_date = daegu_data['DATE'].unique()
print(daegu_date)
daejeon_date = daejeon_data['DATE'].unique()
print(daejeon_date)
gwangju_date = gwangju_data['DATE'].unique()
print(gwangju_date)

NameError: name 'seoul_data' is not defined

In [ ]:
all_list = []
for i in seoul_date:
    seoul_sum1 = seoul_data.loc[seoul_data['DATE']==i, '총거래물량(kg)'].values
    seoul_sum2 = seoul_data.loc[seoul_data['DATE']==i, '총거래금액(원)'].values
    all_list.append([i, seoul_sum1.sum(), seoul_sum2.sum(), '서울'])

for i in busan_date:
    busan_sum1 = busan_data.loc[busan_data['DATE']==i, '총거래물량(kg)'].values
    busan_sum2 = busan_data.loc[busan_data['DATE']==i, '총거래금액(원)'].values
    all_list.append([i, busan_sum1.sum(), busan_sum2.sum(), '부산'])

for i in daegu_date:
    daegu_sum1 = daegu_data.loc[daegu_data['DATE']==i, '총거래물량(kg)'].values
    daegu_sum2 = daegu_data.loc[daegu_data['DATE']==i, '총거래금액(원)'].values
    all_list.append([i, daegu_sum1.sum(), daegu_sum2.sum(), '대구'])

for i in daejeon_date:
    daejeon_sum1 = daejeon_data.loc[daejeon_data['DATE']==i, '총거래물량(kg)'].values
    daejeon_sum2 = daejeon_data.loc[daejeon_data['DATE']==i, '총거래금액(원)'].values
    all_list.append([i, daejeon_sum1.sum(), daejeon_sum2.sum(), '대전'])

for i in gwangju_date:
    gwangju_sum1 = gwangju_data.loc[gwangju_data['DATE']==i, '총거래물량(kg)'].values
    gwangju_sum2 = gwangju_data.loc[gwangju_data['DATE']==i, '총거래금액(원)'].values
    all_list.append([i, gwangju_sum1.sum(), gwangju_sum2.sum(), '광주'])

In [21]:
df = pd.DataFrame(all_list, columns=['Date', '총거래물량', '총거래금액', '시장'])

NameError: name 'all_list' is not defined

In [ ]:
df['평균거래금액'] = df['총거래금액']/df['총거래물량']

In [ ]:
df = df[['Date', '총거래물량', '총거래금액', '평균거래금액', '시장']]

In [ ]:
# df.to_csv('data/TEMP/경락가격/오이/오이 월별 총거래(정제).csv', index=False, encoding='UTF-8')

In [ ]:
df.info()

NameError: name 'df' is not defined

In [ ]:
# 특정 조건으로 행 조회하기
df.loc[df['시장']=='서울',:]['Date']

NameError: name 'df' is not defined

In [ ]:
#결측값 1개 행 추가해보기

new_row = pd.DataFrame([['2021-01', 0.0, 0, 0.0, '서울']], columns = df.columns)

new_df = pd.concat([df.iloc[:12], new_row, df.iloc[12:]], ignore_index = True)

new_df.iloc[11:14]

NameError: name 'df' is not defined

In [ ]:
#결측값 1개 행 추가해보기

new_row = pd.DataFrame([['2022-12', 0.0, 0, 0.0, '서울']], columns = df.columns)

new_df = pd.concat([new_df.iloc[:35], new_row, new_df.iloc[35:]], ignore_index = True)

new_df.iloc[34:37]

       Date    총거래물량     총거래금액       평균거래금액  시장
34  2022-11  21050.0  21267000  1010.308789  서울
35  2022-12      0.0         0     0.000000  서울
36  2023-01   3430.0   9907000  2888.338192  서울

In [ ]:
# df = df.sort_values(by='Date')

In [ ]:
# df[df['Date'] == '2021-01']

In [ ]:
print(len(df['Date'].unique()))
print(df['Date'].unique())
unique_date=df['Date'].unique()
unique_date.sort()
# unique_date=new_df['Date'].unique()
print(unique_date)

44
['2020-01' '2020-02' '2020-03' '2020-04' '2020-05' '2020-06' '2020-07'
 '2020-08' '2020-09' '2020-10' '2020-11' '2020-12' '2021-02' '2021-03'
 '2021-04' '2021-05' '2021-06' '2021-07' '2021-08' '2021-09' '2021-10'
 '2021-11' '2021-12' '2022-01' '2022-02' '2022-03' '2022-04' '2022-05'
 '2022-06' '2022-07' '2022-08' '2022-09' '2022-10' '2022-11' '2023-01'
 '2023-02' '2023-03' '2023-04' '2023-05' '2023-06' '2023-07' '2023-08'
 '2021-01' '2022-12']
['2020-01' '2020-02' '2020-03' '2020-04' '2020-05' '2020-06' '2020-07'
 '2020-08' '2020-09' '2020-10' '2020-11' '2020-12' '2021-01' '2021-02'
 '2021-03' '2021-04' '2021-05' '2021-06' '2021-07' '2021-08' '2021-09'
 '2021-10' '2021-11' '2021-12' '2022-01' '2022-02' '2022-03' '2022-04'
 '2022-05' '2022-06' '2022-07' '2022-08' '2022-09' '2022-10' '2022-11'
 '2022-12' '2023-01' '2023-02' '2023-03' '2023-04' '2023-05' '2023-06'
 '2023-07' '2023-08']

In [ ]:
result_df=df.copy()
index=0
for i in unique_date:
    index+=1
    print(i+':'+df.loc[df['Date']==i, '시장'])
    if(len(df.loc[df['Date']==i, '시장'])<5):
        # new_row = pd.DataFrame([['i', 0.0, 0, 0.0, '추가']], columns = df.columns)
        print(i,':',df.loc[df['Date']==i, '시장'])
        result_df = pd.concat([df.iloc[:index], new_row, df.iloc[index:]], ignore_index = True)

# result_df
result_df.iloc[11:14]

NameError: name 'df' is not defined