In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [2]:
get_rain = pd.read_excel('data/ORG/날씨/월별강수량.xlsx', index_col=None)

In [5]:
get_rain[:1]

,년월,지점,강수량(mm),지점.1,강수량(mm).1,지점.2,강수량(mm).2,지점.3,강수량(mm).3,지점.4,강수량(mm).4
0,2020-01,서울,60.5,부산,127.7,대구,70.4,대전,78.5,광주,74.9

In [3]:
seoul_weather = get_rain.loc[get_rain['지점'] == '서울', ['년월', '강수량(mm)']].values
seoul_weather

busan_weather = get_rain.loc[get_rain['지점.1'] == '부산', ['년월', '강수량(mm).1']].values
busan_weather

daegu_weather = get_rain.loc[get_rain['지점.2'] == '대구', ['년월', '강수량(mm).2']].values
daegu_weather

daejeon_weather = get_rain.loc[get_rain['지점.3'] == '대전', ['년월', '강수량(mm).3']].values
daejeon_weather

gwangju_weather = get_rain.loc[get_rain['지점.4'] == '광주', ['년월', '강수량(mm).4']].values
gwangju_weather

array([['2020-01', 74.9],
       ['2020-02', 47.8],
       ['2020-03', 43.5],
       ['2020-04', 55.3],
       ['2020-05', 96.8],
       ['2020-06', 199.9],
       ['2020-07', 533.3],
       ['2020-08', 738.1],
       ['2020-09', 178.3],
       ['2020-10', 12.1],
       ['2020-11', 28.3],
       ['2020-12', 18.7],
       ['2021-01', 33.0],
       ['2021-02', 31.1],
       ['2021-03', 122.4],
       ['2021-04', 34.2],
       ['2021-05', 139.4],
       ['2021-06', 118.1],
       ['2021-07', 227.6],
       ['2021-08', 338.7],
       ['2021-09', 131.1],
       ['2021-10', 35.3],
       ['2021-11', 85.8],
       ['2021-12', 7.1],
       ['2022-01', 0.3],
       ['2022-02', 2.7],
       ['2022-03', 105.2],
       ['2022-04', 49.4],
       ['2022-05', 0.4],
       ['2022-06', 131.7],
       ['2022-07', 169.0],
       ['2022-08', 106.4],
       ['2022-09', 89.2],
       ['2022-10', 38.3],
       ['2022-11', 46.7],
       ['2022-12', 30.6],
       ['2023-01', 26.8],
       ['2023-02', 14.8],
       ['2023-03', 34.8],
       ['2023-04', 66.5],
       ['2023-05', 190.1],
       ['2023-06', 441.2],
       ['2023-07', 684.6]], dtype=object)

In [8]:
seoul_df = pd.DataFrame(seoul_weather, columns=['년월', '서울강수량(mm)'])
busan_df = pd.DataFrame(busan_weather, columns=['년월', '부산강수량(mm)'])
daegu_df = pd.DataFrame(daegu_weather, columns=['년월', '대구강수량(mm)'])
daejeon_df = pd.DataFrame(daejeon_weather, columns=['년월', '대전강수량(mm)'])
gwangju_df = pd.DataFrame(gwangju_weather, columns=['년월', '광주강수량(mm)'])

In [9]:
all_weather = pd.concat([seoul_df, busan_df, daegu_df, daejeon_df, gwangju_df])

In [10]:
all_weather.to_csv('data/TEMP/날씨/강수량 데이터.csv', index=False, encoding='UTF-8')