In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import statistics
matplotlib.rcParams['axes.unicode_minus'] = False
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [80]:
get_data = pd.read_csv('../data/TEMP/경락가격/애호박/애호박 월별 총거래(정제).csv', index_col=None)

In [11]:
len(get_data['Date'])

44

In [81]:
get_data['Date'] = pd.to_datetime(get_data['Date'])

In [82]:
years = get_data['Date'].dt.year.unique()

In [ ]:
get_data.head()

In [4]:
amount_grade = []
Glen = len(get_data['Date'])
amount_grade.append(['2020-01', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])
for i in range(Glen):
    if i != Glen-1:
        A = get_data['서울 총거래물량'][i+1] - get_data['서울 총거래물량'][i]
        B = get_data['서울 총거래금액'][i+1] - get_data['서울 총거래금액'][i]
        C = get_data['서울 평균거래금액'][i+1] - get_data['서울 평균거래금액'][i]

        D = get_data['부산 총거래물량'][i+1] - get_data['부산 총거래물량'][i]
        E = get_data['부산 총거래금액'][i+1] - get_data['부산 총거래금액'][i]
        F = get_data['부산 평균거래금액'][i+1] - get_data['부산 평균거래금액'][i]

        G = get_data['대구 총거래물량'][i+1] - get_data['대구 총거래물량'][i]
        H = get_data['대구 총거래금액'][i+1] - get_data['대구 총거래금액'][i]
        I = get_data['대구 평균거래금액'][i+1] - get_data['대구 평균거래금액'][i]

        J = get_data['대전 총거래물량'][i+1] - get_data['대전 총거래물량'][i]
        K = get_data['대전 총거래금액'][i+1] - get_data['대전 총거래금액'][i]
        L = get_data['대전 평균거래금액'][i+1] - get_data['대전 평균거래금액'][i]

        M = get_data['광주 총거래물량'][i+1] - get_data['광주 총거래물량'][i]
        N = get_data['광주 총거래금액'][i+1] - get_data['광주 총거래금액'][i]
        O = get_data['광주 평균거래금액'][i+1] - get_data['광주 평균거래금액'][i]

        amount_grade.append([get_data['Date'][i+1], A, B, C, D, E, F, G, H, I, J, K, L, M, N, O])

In [5]:
amount_grade.append(['2023-09', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])
amount_grade.append(['2023-10', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])
amount_grade.append(['2023-11', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])
amount_grade.append(['2023-12', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [6]:
df = pd.DataFrame(amount_grade, columns=['Month', 'Seoul_amount_grade', 'Seoul_allpay_grade', 'Seoul_pay_grade', 'Busan_amount_grade', 'Busan_allpay_grade', 'Busan_pay_grade', 'Daegu_amount_grade', 'Daegu_allpay_grade', 'Daegu_pay_grade', 'Daejeon_amount_grade', 'Daejeon_allpay_grade', 'Daejeon_pay_grade', 'Gwangju_amount_grade', 'Gwangju_allpay_grade', 'Gwangju_pay_grade'])

In [ ]:
df.to_csv('../data/TEMP/경락가격/애호박/애호박 월별 거래 변화량.csv', index=False, encoding='UTF-8')

In [7]:
change_data = pd.read_csv('../data/TEMP/경락가격/애호박/애호박 월별 거래 변화량.csv', index_col=None)

In [8]:
change_data['Month'] = pd.to_datetime(change_data['Month'])

In [9]:
change_data2020 = change_data[change_data['Month'].dt.year == 2020]
change_data2021 = change_data[change_data['Month'].dt.year == 2021]
change_data2022 = change_data[change_data['Month'].dt.year == 2022]
change_data2023 = change_data[change_data['Month'].dt.year == 2023]

In [11]:
months = change_data['Month'].dt.month.unique()
months.sort()

In [ ]:
def pltdata(month, area2021, area2022, area2023, area, title):
    plt.figure(figsize=(10,10))

    plt.subplot(2,2,1)
    plt.barh(month, area2021, color='Black')
    plt.ylabel('월')
    plt.yticks(month, [f'{i}월' for i in month])
    plt.xlabel('%s 차이' %title)
    plt.title('2021년 대비 2020년 %s %s 변화량' % (area, title))

    plt.subplot(2,2,2)
    plt.barh(month, area2022, color='r')
    plt.ylabel('월')
    plt.yticks(month, [f'{i}월' for i in month])
    plt.xlabel('%s 차이' %title)
    plt.title('2022년 대비 2021년 %s %s 변화량' %(area, title))

    plt.subplot(2,2,3)
    plt.barh(month, area2023, color='g')
    plt.ylabel('월')
    plt.yticks(month, [f'{i}월' for i in month])
    plt.xlabel('%s 차이' %title)
    plt.title('2023년 대비 2022년 %s %s 변화량' %(area, title))

    plt.savefig('../data/각 년도 별 %s의 %s 변화량 차이.png' %(area, title))
    plt.show()

# 서울

In [ ]:
mdata2020 = change_data2020['Seoul_amount_grade'].values
mdata2021 = change_data2021['Seoul_amount_grade'].values
mdata2022 = change_data2022['Seoul_amount_grade'].values
mdata2023 = change_data2023['Seoul_amount_grade'].values

adata2020 = change_data2020['Seoul_allpay_grade'].values
adata2021 = change_data2021['Seoul_allpay_grade'].values
adata2022 = change_data2022['Seoul_allpay_grade'].values
adata2023 = change_data2023['Seoul_allpay_grade'].values

data2020 = change_data2020['Seoul_pay_grade'].values
data2021 = change_data2021['Seoul_pay_grade'].values
data2022 = change_data2022['Seoul_pay_grade'].values
data2023 = change_data2023['Seoul_pay_grade'].values

mdata2021_2020 = abs(mdata2021)-abs(mdata2020)
mdata2022_2021 = abs(mdata2022)-abs(mdata2021)
mdata2023_2022 = abs(mdata2023)-abs(mdata2022)

adata2021_2020 = abs(adata2021)-abs(adata2020)
adata2022_2021 = abs(adata2022)-abs(adata2021)
adata2023_2022 = abs(adata2023)-abs(adata2022)


data2021_2020 = abs(data2021)-abs(data2020)
data2022_2021 = abs(data2022)-abs(data2021)
data2023_2022 = abs(data2023)-abs(data2022)

In [ ]:
pltdata(months, mdata2021_2020, mdata2022_2021, mdata2023_2022, "서울", "총 거래 물량")

In [ ]:
pltdata(months, adata2021_2020, adata2022_2021, adata2023_2022, "서울", "총 거래 금액")

In [ ]:
pltdata(months, data2021_2020, data2022_2021, data2023_2022, "서울", "평균 거래 금액")

# 부산

In [ ]:
mdata2020 = change_data2020['Busan_amount_grade'].values
mdata2021 = change_data2021['Busan_amount_grade'].values
mdata2022 = change_data2022['Busan_amount_grade'].values
mdata2023 = change_data2023['Busan_amount_grade'].values

adata2020 = change_data2020['Busan_allpay_grade'].values
adata2021 = change_data2021['Busan_allpay_grade'].values
adata2022 = change_data2022['Busan_allpay_grade'].values
adata2023 = change_data2023['Busan_allpay_grade'].values

data2020 = change_data2020['Busan_pay_grade'].values
data2021 = change_data2021['Busan_pay_grade'].values
data2022 = change_data2022['Busan_pay_grade'].values
data2023 = change_data2023['Busan_pay_grade'].values

mdata2021_2020 = abs(mdata2021)-abs(mdata2020)
mdata2022_2021 = abs(mdata2022)-abs(mdata2021)
mdata2023_2022 = abs(mdata2023)-abs(mdata2022)

adata2021_2020 = abs(adata2021)-abs(adata2020)
adata2022_2021 = abs(adata2022)-abs(adata2021)
adata2023_2022 = abs(adata2023)-abs(adata2022)

data2021_2020 = abs(data2021)-abs(data2020)
data2022_2021 = abs(data2022)-abs(data2021)
data2023_2022 = abs(data2023)-abs(data2022)

In [ ]:
pltdata(months, mdata2021_2020, mdata2022_2021, mdata2023_2022, "부산", "총 거래 물량")

In [ ]:
pltdata(months, adata2021_2020, adata2022_2021, adata2023_2022, "부산", "총 거래 금액")

In [ ]:
pltdata(months, data2021_2020, data2022_2021, data2023_2022, "부산", "평균 거래 금액")

# 대구

In [ ]:
mdata2020 = change_data2020['Daegu_amount_grade'].values
mdata2021 = change_data2021['Daegu_amount_grade'].values
mdata2022 = change_data2022['Daegu_amount_grade'].values
mdata2023 = change_data2023['Daegu_amount_grade'].values

adata2020 = change_data2020['Daegu_allpay_grade'].values
adata2021 = change_data2021['Daegu_allpay_grade'].values
adata2022 = change_data2022['Daegu_allpay_grade'].values
adata2023 = change_data2023['Daegu_allpay_grade'].values

data2020 = change_data2020['Daegu_pay_grade'].values
data2021 = change_data2021['Daegu_pay_grade'].values
data2022 = change_data2022['Daegu_pay_grade'].values
data2023 = change_data2023['Daegu_pay_grade'].values

mdata2021_2020 = abs(mdata2021)-abs(mdata2020)
mdata2022_2021 = abs(mdata2022)-abs(mdata2021)
mdata2023_2022 = abs(mdata2023)-abs(mdata2022)

adata2021_2020 = abs(adata2021)-abs(adata2020)
adata2022_2021 = abs(adata2022)-abs(adata2021)
adata2023_2022 = abs(adata2023)-abs(adata2022)

data2021_2020 = abs(data2021)-abs(data2020)
data2022_2021 = abs(data2022)-abs(data2021)
data2023_2022 = abs(data2023)-abs(data2022)

In [ ]:
pltdata(months, mdata2021_2020, mdata2022_2021, mdata2023_2022, "대구", "총 거래 물량")

In [ ]:
pltdata(months, adata2021_2020, adata2022_2021, adata2023_2022, "대구", "총 거래 금액")

In [ ]:
pltdata(months, data2021_2020, data2022_2021, data2023_2022, "대구", "평균 거래 금액")

# 대전

In [ ]:
mdata2020 = change_data2020['Daejeon_amount_grade'].values
mdata2021 = change_data2021['Daejeon_amount_grade'].values
mdata2022 = change_data2022['Daejeon_amount_grade'].values
mdata2023 = change_data2023['Daejeon_amount_grade'].values

adata2020 = change_data2020['Daejeon_allpay_grade'].values
adata2021 = change_data2021['Daejeon_allpay_grade'].values
adata2022 = change_data2022['Daejeon_allpay_grade'].values
adata2023 = change_data2023['Daejeon_allpay_grade'].values

data2020 = change_data2020['Daejeon_pay_grade'].values
data2021 = change_data2021['Daejeon_pay_grade'].values
data2022 = change_data2022['Daejeon_pay_grade'].values
data2023 = change_data2023['Daejeon_pay_grade'].values

mdata2021_2020 = abs(mdata2021)-abs(mdata2020)
mdata2022_2021 = abs(mdata2022)-abs(mdata2021)
mdata2023_2022 = abs(mdata2023)-abs(mdata2022)

adata2021_2020 = abs(adata2021)-abs(adata2020)
adata2022_2021 = abs(adata2022)-abs(adata2021)
adata2023_2022 = abs(adata2023)-abs(adata2022)

data2021_2020 = abs(data2021)-abs(data2020)
data2022_2021 = abs(data2022)-abs(data2021)
data2023_2022 = abs(data2023)-abs(data2022)

In [ ]:
pltdata(months, mdata2021_2020, mdata2022_2021, mdata2023_2022, "대전", "총 거래 물량")

In [ ]:
pltdata(months, adata2021_2020, adata2022_2021, adata2023_2022, "대전", "총 거래 금액")

In [ ]:
pltdata(months, data2021_2020, data2022_2021, data2023_2022, "대전", "평균 거래 금액")

# 광주

In [ ]:
mdata2020 = change_data2020['Gwangju_amount_grade'].values
mdata2021 = change_data2021['Gwangju_amount_grade'].values
mdata2022 = change_data2022['Gwangju_amount_grade'].values
mdata2023 = change_data2023['Gwangju_amount_grade'].values

adata2020 = change_data2020['Gwangju_allpay_grade'].values
adata2021 = change_data2021['Gwangju_allpay_grade'].values
adata2022 = change_data2022['Gwangju_allpay_grade'].values
adata2023 = change_data2023['Gwangju_allpay_grade'].values

data2020 = change_data2020['Gwangju_pay_grade'].values
data2021 = change_data2021['Gwangju_pay_grade'].values
data2022 = change_data2022['Gwangju_pay_grade'].values
data2023 = change_data2023['Gwangju_pay_grade'].values

mdata2021_2020 = abs(mdata2021)-abs(mdata2020)
mdata2022_2021 = abs(mdata2022)-abs(mdata2021)
mdata2023_2022 = abs(mdata2023)-abs(mdata2022)

adata2021_2020 = abs(adata2021)-abs(adata2020)
adata2022_2021 = abs(adata2022)-abs(adata2021)
adata2023_2022 = abs(adata2023)-abs(adata2022)

data2021_2020 = abs(data2021)-abs(data2020)
data2022_2021 = abs(data2022)-abs(data2021)
data2023_2022 = abs(data2023)-abs(data2022)

In [ ]:
pltdata(months, mdata2021_2020, mdata2022_2021, mdata2023_2022, "광주", "총 거래 물량")

In [ ]:
pltdata(months, adata2021_2020, adata2022_2021, adata2023_2022, "광주", "총 거래 금액")

In [ ]:
pltdata(months, data2021_2020, data2022_2021, data2023_2022, "광주", "평균 거래 금액")

# 그래프 구간

In [ ]:
plt.stackplot(months, data2020, data2021, data2022, data2023, colors=['b', 'r', 'y', 'black'], labels=['2020', '2021', '2022', '2023'])

plt.xlabel('월')
plt.ylabel('평균 거래 금액')
plt.title('연도별 평균 거래금액 변화향')
plt.legend(loc='upper left')
plt.show()