In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import statistics
matplotlib.rcParams['axes.unicode_minus'] = False
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [44]:
get_data = pd.read_csv('../data/TEMP/경락가격/당근/당근 월별 총거래(정제).csv', index_col=None)
# year_df = pd.read_csv('../data/TEMP/경락가격/오이/오이 년별 평균가격.csv', index_col=None)
# get_data = pd.read_csv('../data/TEMP/경락가격/오이/오이 월별 총거래(정제2).csv', index_col=None)

In [45]:
get_data['Date'] = pd.to_datetime(get_data['Date'])

In [46]:
years = get_data['Date'].dt.year.unique()

In [47]:

year_mean = []
year_addon = []
for i in years:
    for j in get_data.columns:
        if '평균' in j:
            print(get_data.loc[get_data['Date'].dt.year == i,'%s' %j][:5])
            data_p = get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values
            year_addon.append(data_p.sum())
            # np_std= np.std(get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values)
            # print('표준편차: ',np_std)
            # year_addon.append(np_std)
        elif j != 'Date':
            data_p = get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values
            year_addon.append(data_p.sum())
        else:
            year_addon.append(i)
    year_mean.append(year_addon)
    year_addon = []

year_mean

0    1468.797159
1    1267.030890
2    1798.809361
3    1995.955573
4    1524.913154
Name: 서울 평균단가, dtype: float64
0    1546.968343
1    1323.583377
2    1457.336003
3    1812.647295
4    1365.265809
Name: 부산 평균단가, dtype: float64
0    1174.110988
1    1077.028168
2    1497.692465
3    2168.715513
4    1295.156328
Name: 대구 평균단가, dtype: float64
0    1239.593573
1    1188.033183
2    1586.191071
3    1615.109082
4    1362.972560
Name: 대전 평균단가, dtype: float64
0    1519.201838
1    1225.395113
2    1756.400920
3    2066.221377
4    1396.639715
Name: 광주 평균단가, dtype: float64
12    1207.976698
13    1139.836297
14     999.972044
15    1143.196013
16    1050.076412
Name: 서울 평균단가, dtype: float64
12    1126.696412
13    1057.942306
14     939.057343
15    1032.338436
16    1016.059826
Name: 부산 평균단가, dtype: float64
12    1045.358944
13    1004.129959
14     858.128718
15     957.836343
16    1103.208237
Name: 대구 평균단가, dtype: float64
12    1341.743956
13    1171.538085
14    1060.313517
15    1293.333259
16    1172.395784
Name: 대전 평균단가, dtype: float64
12    1126.883399
13    1013.566897
14     828.226604
15    1024.303782
16    1147.012496
Name: 광주 평균단가, dtype: float64
24     847.730224
25     780.216105
26     930.448415
27    1354.597027
28    1325.080177
Name: 서울 평균단가, dtype: float64
24     852.066166
25     868.842877
26     966.125231
27    1301.199073
28    1246.429923
Name: 부산 평균단가, dtype: float64
24     737.791566
25     761.043613
26     835.606014
27    1182.264633
28    1315.874217
Name: 대구 평균단가, dtype: float64
24     838.462342
25     801.949201
26    1008.684358
27    1431.483460
28    1472.253768
Name: 대전 평균단가, dtype: float64
24     767.459023
25     787.071050
26     836.897252
27    1280.035009
28    1501.551832
Name: 광주 평균단가, dtype: float64
36    2112.285989
37    2085.922078
38    1850.066876
39    1912.237189
40    1629.082112
Name: 서울 평균단가, dtype: float64
36    1969.603740
37    2000.090565
38    1746.730642
39    1763.554064
40    1450.967471
Name: 부산 평균단가, dtype: float64
36    1933.833872
37    1990.920425
38    1952.924564
39    1872.279060
40    1554.412640
Name: 대구 평균단가, dtype: float64
36    2158.916675
37    2171.321059
38    1941.985497
39    2072.534578
40    1624.075054
Name: 대전 평균단가, dtype: float64
36    2071.283842
37    1952.712583
38    1892.605078
39    1867.127916
40    1714.951621
Name: 광주 평균단가, dtype: float64

[[2020,
  26443797.7,
  42503752030,
  19655.577547155648,
  2408350.6999999997,
  3335350422,
  17429.67217676301,
  4025110.0,
  5369003000,
  17725.423849394472,
  3762986.0,
  5259716800,
  16916.994547217622,
  2390992.0,
  3786758450,
  19633.544124414715],
 [2021,
  30186039.6,
  30996143010,
  12189.532645750825,
  2720249.2,
  2700119439,
  12025.689440069882,
  5660217.0,
  5447413200,
  11479.255684136184,
  2791131.0,
  3163282650,
  13489.519269923892,
  1706865.0,
  1729075540,
  12226.894571490826],
 [2022,
  26336579.0,
  38141041300,
  18178.769508177757,
  2319841.1,
  3117032038,
  16849.579555841796,
  4765843.0,
  6479149100,
  16427.022271781287,
  3033622.0,
  4728924520,
  18758.980803571547,
  2444950.0,
  3574396050,
  18287.860223804855],
 [2023,
  16297289.0,
  31944041460,
  16308.657979526502,
  1692671.8,
  3042840104,
  15331.836064209932,
  2655919.0,
  4965992400,
  15590.050713177961,
  1993116.0,
  3979487130,
  16846.68537232873,
  2093574.0,
  4092264720,
  16262.383003194323]]

In [48]:
year_df = pd.DataFrame(year_mean, columns=['year', '서울 총거래물량', '서울 총거래금액', '서울 평균단가','부산 총거래물량', '부산 총거래금액', '부산 평균단가', '대구 총거래물량', '대구 총거래금액', '대구 평균단가', '대전 총거래물량', '대전 총거래금액', '대전 평균단가', '광주 총거래물량', '광주 총거래금액', '광주 평균단가'])

In [49]:
for i in years:
    year_df.loc[year_df['year']== i,'서울 평균단가'] = year_df['서울 총거래금액']/year_df['서울 총거래물량']
    year_df.loc[year_df['year']== i,'부산 평균단가'] = year_df['부산 총거래금액']/year_df['부산 총거래물량']
    year_df.loc[year_df['year']== i,'대구 평균단가'] = year_df['대구 총거래금액']/year_df['대구 총거래물량']
    year_df.loc[year_df['year']== i,'대전 평균단가'] = year_df['대전 총거래금액']/year_df['대전 총거래물량']
    year_df.loc[year_df['year']== i,'광주 평균단가'] = year_df['광주 총거래금액']/year_df['광주 총거래물량']

year_df

,year,서울 총거래물량,서울 총거래금액,서울 평균단가,부산 총거래물량,부산 총거래금액,부산 평균단가,대구 총거래물량,대구 총거래금액,대구 평균단가,대전 총거래물량,대전 총거래금액,대전 평균단가,광주 총거래물량,광주 총거래금액,광주 평균단가
0,2020,26443797.7,42503752030,1607.324051,2408350.7,3335350422,1384.910604,4025110.0,5369003000,1333.877335,3762986.0,5259716800,1397.750829,2390992.0,3786758450,1583.760402
1,2021,30186039.6,30996143010,1026.837022,2720249.2,2700119439,992.600031,5660217.0,5447413200,962.403597,2791131.0,3163282650,1133.333638,1706865.0,1729075540,1013.012476
2,2022,26336579.0,38141041300,1448.215476,2319841.1,3117032038,1343.640320,4765843.0,6479149100,1359.496966,3033622.0,4728924520,1558.837759,2444950.0,3574396050,1461.950572
3,2023,16297289.0,31944041460,1960.083144,1692671.8,3042840104,1797.655106,2655919.0,4965992400,1869.783077,1993116.0,3979487130,1996.615917,2093574.0,4092264720,1954.678803

In [50]:
get_data = get_data.rename(columns={'서울 평균거래금액':'서울 평균단가', '부산 평균거래금액':'부산 평균단가', '대구 평균거래금액':'대구 평균단가', '대전 평균거래금액':'대전 평균단가', '광주 평균거래금액':'광주 평균단가'})

In [51]:
year_df['전국 평균단가'] = (year_df['서울 총거래금액'] + year_df['부산 총거래금액'] + year_df['대구 총거래금액'] + year_df['대전 총거래금액'] + year_df['광주 총거래금액']) / (year_df['서울 총거래물량'] + year_df['부산 총거래물량'] + year_df['대구 총거래물량'] + year_df['대전 총거래물량'] + year_df['광주 총거래물량'])

In [52]:
year_df.to_csv('../data/TEMP/경락가격/당근/당근 년별 평균가격.csv', index=False, encoding='UTF-8')

In [53]:
year_df

,year,서울 총거래물량,서울 총거래금액,서울 평균단가,부산 총거래물량,부산 총거래금액,부산 평균단가,대구 총거래물량,대구 총거래금액,대구 평균단가,대전 총거래물량,대전 총거래금액,대전 평균단가,광주 총거래물량,광주 총거래금액,광주 평균단가,전국 평균단가
0,2020,26443797.7,42503752030,1607.324051,2408350.7,3335350422,1384.910604,4025110.0,5369003000,1333.877335,3762986.0,5259716800,1397.750829,2390992.0,3786758450,1583.760402,1543.752806
1,2021,30186039.6,30996143010,1026.837022,2720249.2,2700119439,992.600031,5660217.0,5447413200,962.403597,2791131.0,3163282650,1133.333638,1706865.0,1729075540,1013.012476,1022.559928
2,2022,26336579.0,38141041300,1448.215476,2319841.1,3117032038,1343.640320,4765843.0,6479149100,1359.496966,3033622.0,4728924520,1558.837759,2444950.0,3574396050,1461.950572,1440.599999
3,2023,16297289.0,31944041460,1960.083144,1692671.8,3042840104,1797.655106,2655919.0,4965992400,1869.783077,1993116.0,3979487130,1996.615917,2093574.0,4092264720,1954.678803,1941.756405

In [54]:
years = get_data['Date'].dt.year.unique()
months = get_data['Date'].dt.month.unique()
grade_data = []
for i in years:
    for j in months:
        if ( i != 2023 ) or ( j not in [9, 10, 11, 12]):
            g_date = str(i)+"-"+str(j)
            seoul_data = year_df.loc[year_df['year']==i, '서울 평균단가'].values
            seoul_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '서울 평균단가'].values
            seoul_grade = seoul_data - seoul_data1

            busan_data = year_df.loc[year_df['year']==i, '부산 평균단가'].values
            busan_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '부산 평균단가'].values
            busan_grade = busan_data - busan_data1

            daegu_data = year_df.loc[year_df['year']==i, '대구 평균단가'].values
            daegu_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '대구 평균단가'].values
            daegu_grade = daegu_data - daegu_data1

            daejeon_data = year_df.loc[year_df['year']==i, '대전 평균단가'].values
            daejeon_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '광주 평균단가'].values
            daejeon_grade = daejeon_data - daejeon_data1

            gwangju_data = year_df.loc[year_df['year']==i, '광주 평균단가'].values
            gwangju_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '광주 평균단가'].values
            gwangju_grade = gwangju_data - gwangju_data1
            print(len(gwangju_grade))
            grade_data.append([g_date,seoul_grade[0], busan_grade[0], daegu_grade[0], daejeon_grade[0], gwangju_grade[0]])
print(grade_data)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
[['2020-1', 138.5268913554628, -162.0577388854906, 159.7663467472396, -121.451009759508, 64.55856305077782], ['2020-2', 340.293160333209, 61.327226346595126, 256.84916679778485, 172.35571564162228, 358.3652884519081], ['2020-3', -191.4853108059085, -72.42539885860606, -163.81512974499833, -358.65009095757114, -172.64051814728532], ['2020-4', -388.63152271017907, -427.73669147467217, -834.838177876828, -668.4705483715186, -482.4609755612328], ['2020-5', 82.41089669543362, 19.644795123016138, 38.72100669656675, 1.111113335596201, 187.12068614588202], ['2020-6', 141.16072721056662, 78.91259177384904, -26.89600622046123, -134.73571425389787, 51.27385855638795], ['2020-7', -3.884255889725182, -41.342835892219, -80.71635416360846, -281.91461506329915, -95.90504225301333], ['2020-8', -32.72463206918428, -77.27992781700891, -541.4863098655417, -403.255124251373, -217.24555144108717], ['2020-9', -1082.499583505637, -615.2911452551416, -1096.4936997138493, -1275.1821220033783, -1089.1725491930924], ['2020-10', -622.2700197749173, -582.8709117836354, -536.4790584897053, -718.3459499617909, -532.3363771515051], ['2020-11', 544.9273041791869, 460.4152416457239, 426.5977191931488, 314.43219363078015, 500.44176644106597], ['2020-12', 706.487403931967, 547.9598634205383, 679.8946675980144, 613.5719723615756, 799.5815451718614], ['2021-1', -181.13967643071578, -134.0963811985589, -82.95534719881346, 6.450239176569312, -113.870922603606], ['2021-2', -112.99927455070065, -65.34227496981043, -41.72636202425235, 119.76674084887463, -0.5544209313006832], ['2021-3', 26.86497834575823, 53.542687710202244, 104.2748787975654, 305.10703417869433, 184.78587239851902], ['2021-4', -116.35899082142714, -39.73840521964735, 4.567253549744237, 109.02985601979003, -11.291305760385285], ['2021-5', -23.239389812041736, -23.459795128763744, -140.80464021156547, -13.678858497955389, -134.0000202781307], ['2021-6', 127.81848874669095, 121.23994497005913, -24.938606271495132, 134.64358181789544, 14.322420037720121], ['2021-7', 221.39427447715116, 148.94394585514306, 171.44839232100037, 183.46867567996662, 63.147513899791306], ['2021-8', 83.62317406977422, -26.395824454957165, -23.06089125107451, 10.016102324356098, -110.30505945581922], ['2021-9', -152.95854784466292, -244.2219263456784, -216.82193923873626, -164.71678229868735, -285.03794407886267], ['2021-10', 78.21684318758821, -132.45517332430882, -1.7051555873615598, 210.6069350383632, 90.28577325818787], ['2021-11', 50.53022601106045, 110.59341404276017, 133.76495371402734, 159.04809284568296, 38.72693106550764], ['2021-12', 130.75951333260593, 116.900714489513, 187.54494199157807, 313.36746580818203, 193.04630402800672], ['2022-1', 600.4852522850246, 491.5741538504326, 621.7054002101183, 791.37873574288, 694.4915483730854], ['2022-2', 667.9993715897474, 474.79744350967394, 598.4533534095358, 771.766708748848, 674.8795213790534], ['2022-3', 517.7670617736152, 377.51508918336276, 523.8909519217194, 721.9405068653252, 625.0533194955306], ['2022-4', 93.6184493095725, 42.44124746591183, 177.23233364643897, 278.80274985375945, 181.91556248396478], ['2022-5', 123.13529927488139, 97.2103966587947, 43.6227491794632, 57.28592696327496, -39.601260406519714], ['2022-6', 28.760647875664063, 48.680777901885904, -101.55518685663219, 5.350757893015725, -91.53642947677895], ['2022-7', -79.38623176523402, -159.6112777208698, -169.14548286236595, -71.13902201958354, -168.0262093893782], ['2022-8', -356.088787534454, -323.6314315148477, -288.7753617408373, -341.74573844856354, -438.6329258183582], ['2022-9', -1070.0142461541334, -924.7063260115988, -836.1142836752429, -1132.4985900433373, -1229.385777413132], ['2022-10', -875.7797421867397, -537.773484472644, -553.6949116358851, -527.618722917199, -624.5059102869936], ['2022-11', -89.46966042071108, -38.52847875549878, 36.18630805845282, -4.763344631297741, -101.65053200109242], ['2022-12', -361.2112068972672, -273.86382569406305, -164.86454674776974, -130.56708433846575, -227.45427170826042], ['2023-1', -152.20284517657092, -171.94863401303564, -64.05079484722614, -74.66792454529741, -116.60503868055434], ['2023-2', -125.83893408537688, -202.43545924639466, -121.13734852278185, 43.90333357349232, 1.9662194382353846], ['2023-3', 110.01626774478223, 50.924464442417275, -83.1414874577365, 104.01083871682272, 62.073724581565784], ['2023-4', 47.84595464881977, 34.10104175897368, -2.495983406742198, 129.48800122160264, 87.55088708634571], ['2023-5', 331.0010316762339, 346.6876346265228, 315.3704371822373, 281.6642960880806, 239.72718195282368], ['2023-6', 2.2359642550750323, 21.253422338843848, 31.521002887955092, -62.999824036716745, -104.93693817197368], ['2023-7', -70.76026498418105, -280.4313181004777, -36.22614369555481, -56.59477788228196, -98.5318920175389], ['2023-8', -770.290002487207, -748.7463682635453, -671.6257795674067, -654.2596104398935, -696.1967245751505]]

In [55]:
mean_data = pd.DataFrame(grade_data, columns=['Date','서울 평균단가 편차', '부산 평균단가 편차', '대구 평균단가 편차', '대전 평균단가 편차', '광주 평균단가 편차'])

In [56]:
mean_data['Date'] = pd.to_datetime(mean_data['Date'])

In [57]:
mean_all = pd.merge(get_data, mean_data, on='Date', how='inner')

In [58]:
mean_all = mean_all[['Date', '서울 총거래물량', '서울 총거래금액', '서울 평균단가', '서울 평균단가 편차','부산 총거래물량', '부산 총거래금액', '부산 평균단가', '부산 평균단가 편차', '대구 총거래물량', '대구 총거래금액', '대구 평균단가', '대구 평균단가 편차','대전 총거래물량', '대전 총거래금액', '대전 평균단가', '대전 평균단가 편차', '광주 총거래물량', '광주 총거래금액', '광주 평균단가', '광주 평균단가 편차']]

In [59]:
mean_all['전국 평균단가'] = (mean_all['서울 총거래금액'] + mean_all['부산 총거래금액'] + mean_all['대구 총거래금액'] + mean_all['대전 총거래금액'] + mean_all['광주 총거래금액']) / (mean_all['서울 총거래물량'] + mean_all['부산 총거래물량'] + mean_all['대구 총거래물량'] + mean_all['대전 총거래물량'] + mean_all['광주 총거래물량'])

In [60]:
mean_all.to_csv('../data/TEMP/경락가격/당근/당근 월별 데이터와 평균편차.csv', index=False, encoding='UTF-8')

In [61]:
year_df = pd.read_csv('../data/TEMP/경락가격/당근/당근 년별 평균가격.csv', index_col=None)
get_data = pd.read_csv('../data/TEMP/경락가격/당근/당근 월별 데이터와 평균편차.csv', index_col=None)

In [62]:
get_data['Date'] = pd.to_datetime(get_data['Date'])

In [63]:
years = get_data['Date'].dt.year.unique()
months = get_data['Date'].dt.month.unique()
all_grade_data = []
for i in years:
    for j in months:
        if ( i != 2023 ) or ( j not in [9, 10, 11, 12]):
            g_date = str(i)+"-"+str(j)
            total_data = year_df.loc[year_df['year']==i, '전국 평균단가'].values
            total_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '전국 평균단가'].values
            total_grade = total_data - total_data1

            all_grade_data.append([g_date,total_grade[0]])
print(all_grade_data)

[['2020-1', 110.69266117444636], ['2020-2', 303.6276583223271], ['2020-3', -204.3674630742637], ['2020-4', -422.419266396465], ['2020-5', 84.54013092943569], ['2020-6', 111.63301015039929], ['2020-7', -18.681487505869654], ['2020-8', -114.26572963925969], ['2020-9', -1023.7040838531659], ['2020-10', -572.8066053023115], ['2020-11', 525.7192567633089], ['2020-12', 698.0605151784025], ['2021-1', -168.44377209232346], ['2021-2', -91.2507349764395], ['2021-3', 45.93298504805318], ['2021-4', -97.88437638079665], ['2021-5', -47.419157571734445], ['2021-6', 97.90071331662807], ['2021-7', 203.49886179017494], ['2021-8', 57.48108624401448], ['2021-9', -179.34170383004346], ['2021-10', 49.25831272110463], ['2021-11', 81.486989818692], ['2021-12', 147.8423372328682], ['2022-1', 607.9088598521608], ['2022-2', 655.2748364443905], ['2022-3', 518.9637352632012], ['2022-4', 115.50205891647556], ['2022-5', 101.4471416580202], ['2022-6', 8.997389955885183], ['2022-7', -105.56799664722917], ['2022-8', -357.6840094335728], ['2022-9', -1049.9211132131684], ['2022-10', -759.1769534085881], ['2022-11', -44.92504062235321], ['2022-12', -312.2847413931729], ['2023-1', -148.47020475097293], ['2023-2', -124.28971665319818], ['2023-3', 80.88225513517932], ['2023-4', 32.066584784651695], ['2023-5', 330.5073560562564], ['2023-6', 0.9448086326804059], ['2023-7', -79.22742360745724], ['2023-8', -753.541699995945]]

In [64]:
total_df = pd.DataFrame(all_grade_data, columns=['Date', '전국 평균단가 편차'])

In [65]:
total_df['Date'] = pd.to_datetime(total_df['Date'])

In [66]:
total_all = pd.merge(get_data, total_df, on='Date', how='inner')

In [67]:
total_all.to_csv('../data/TEMP/경락가격/당근/당근 월별 데이터와 평균편차(전국포함).csv', index=False, encoding='UTF-8')