In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import statistics
matplotlib.rcParams['axes.unicode_minus'] = False
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [34]:
get_data = pd.read_csv('../data/TEMP/경락가격/깻잎/깻잎 월별 총거래(정제).csv', index_col=None)
# year_df = pd.read_csv('../data/TEMP/경락가격/오이/오이 년별 평균가격.csv', index_col=None)
# get_data = pd.read_csv('../data/TEMP/경락가격/오이/오이 월별 총거래(정제2).csv', index_col=None)

In [35]:
get_data['Date'] = pd.to_datetime(get_data['Date'])

In [36]:
years = get_data['Date'].dt.year.unique()

In [37]:

year_mean = []
year_addon = []
for i in years:
    for j in get_data.columns:
        if '평균' in j:
            print(get_data.loc[get_data['Date'].dt.year == i,'%s' %j][:5])
            data_p = get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values
            year_addon.append(data_p.sum())
            # np_std= np.std(get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values)
            # print('표준편차: ',np_std)
            # year_addon.append(np_std)
        elif j != 'Date':
            data_p = get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values
            year_addon.append(data_p.sum())
        else:
            year_addon.append(i)
    year_mean.append(year_addon)
    year_addon = []

year_mean

0    12616.080937
1     5929.336754
2     5234.870431
3     5576.376382
4     5395.586472
Name: 서울 평균단가, dtype: float64
0    9581.139381
1    5008.682375
2    4821.884217
3    5358.841633
4    5123.571920
Name: 부산 평균단가, dtype: float64
0    12784.924466
1     6177.938002
2     5851.811281
3     6250.615600
4     5984.952150
Name: 대구 평균단가, dtype: float64
0    10062.577747
1     5271.518260
2     5066.048924
3     4658.681319
4     4231.469048
Name: 대전 평균단가, dtype: float64
0    15849.871030
1     8306.006212
2     7826.035958
3     7168.503622
4     6834.804462
Name: 광주 평균단가, dtype: float64
12    8489.720275
13    6280.777338
14    5022.552849
15    5291.068597
16    5674.236637
Name: 서울 평균단가, dtype: float64
12    7317.849154
13    5851.749027
14    4351.161625
15    4655.074709
16    5487.277080
Name: 부산 평균단가, dtype: float64
12    9739.641634
13    7773.578522
14    5620.908588
15    5725.204051
16    5858.518228
Name: 대구 평균단가, dtype: float64
12    8099.970581
13    5583.779741
14    4727.348073
15    4715.997012
16    5704.065561
Name: 대전 평균단가, dtype: float64
12    13512.765126
13     9126.239232
14     7540.675650
15     7806.721409
16     7551.087608
Name: 광주 평균단가, dtype: float64
24    11067.995398
25     6795.317872
26     6969.491208
27     6624.800821
28     7290.281735
Name: 서울 평균단가, dtype: float64
24    10155.159185
25     5992.891243
26     6571.947081
27     6136.967217
28     6966.651578
Name: 부산 평균단가, dtype: float64
24    12547.160490
25     7873.953039
26     7913.311033
27     7425.731138
28     8113.363850
Name: 대구 평균단가, dtype: float64
24    13939.905920
25     8461.347578
26     9320.832481
27     7721.976890
28     7183.650518
Name: 대전 평균단가, dtype: float64
24    16506.566244
25    10747.820923
26    10742.195728
27     9820.979327
28     9426.624790
Name: 광주 평균단가, dtype: float64
36    10710.492317
37     8344.588913
38     6659.194547
39     7237.148508
40     7268.979060
Name: 서울 평균단가, dtype: float64
36    9426.018362
37    6916.509112
38    6113.060310
39    6709.717871
40    7290.753047
Name: 부산 평균단가, dtype: float64
36    12464.591421
37     8642.661818
38     7138.586940
39     7655.048819
40     8147.209536
Name: 대구 평균단가, dtype: float64
36    13199.095238
37     9730.639532
38     8696.246813
39     8548.274142
40     6663.524620
Name: 대전 평균단가, dtype: float64
36    15749.086138
37    11391.423572
38     9380.553413
39    10444.793135
40     9200.324571
Name: 광주 평균단가, dtype: float64

[[2020,
  6070016.499999999,
  39069751575,
  80235.04181601071,
  1815446.4999999998,
  10765090387,
  73801.12106699185,
  2177778.71,
  15031529510,
  85894.89084591487,
  1347870.2,
  7661635628,
  69692.84403467823,
  1205680.5899999999,
  10362840850,
  105481.14228451648],
 [2021,
  7527764.35,
  49974377751,
  82722.31761169212,
  1759997.1999999997,
  10636383763,
  73646.80047916967,
  2100209.0,
  14943386047,
  88671.47622163405,
  1095786.3,
  7811322209,
  89739.07478358559,
  1116020.3,
  10148755820,
  115124.43966887292],
 [2022,
  7509742.919999998,
  56948621542,
  92936.10606921182,
  1799299.1,
  12400078786,
  83795.64418856705,
  1947622.2000000002,
  15923964590,
  100430.95661555756,
  987740.1,
  8648772272,
  106780.95565126084,
  1165839.77,
  11556349836,
  125102.28444225794],
 [2023,
  5359590.5,
  39844278424,
  61843.688608168835,
  1177795.7,
  8103620125,
  57560.05103331314,
  1297204.92,
  10434942370,
  68061.68626440992,
  623707.9,
  5299034922,
  71228.44831883162,
  791317.81,
  7760347215,
  83126.97789701776]]

In [38]:
year_df = pd.DataFrame(year_mean, columns=['year', '서울 총거래물량', '서울 총거래금액', '서울 평균단가','부산 총거래물량', '부산 총거래금액', '부산 평균단가', '대구 총거래물량', '대구 총거래금액', '대구 평균단가', '대전 총거래물량', '대전 총거래금액', '대전 평균단가', '광주 총거래물량', '광주 총거래금액', '광주 평균단가'])

In [39]:
for i in years:
    year_df.loc[year_df['year']== i,'서울 평균단가'] = year_df['서울 총거래금액']/year_df['서울 총거래물량']
    year_df.loc[year_df['year']== i,'부산 평균단가'] = year_df['부산 총거래금액']/year_df['부산 총거래물량']
    year_df.loc[year_df['year']== i,'대구 평균단가'] = year_df['대구 총거래금액']/year_df['대구 총거래물량']
    year_df.loc[year_df['year']== i,'대전 평균단가'] = year_df['대전 총거래금액']/year_df['대전 총거래물량']
    year_df.loc[year_df['year']== i,'광주 평균단가'] = year_df['광주 총거래금액']/year_df['광주 총거래물량']

year_df

,year,서울 총거래물량,서울 총거래금액,서울 평균단가,부산 총거래물량,부산 총거래금액,부산 평균단가,대구 총거래물량,대구 총거래금액,대구 평균단가,대전 총거래물량,대전 총거래금액,대전 평균단가,광주 총거래물량,광주 총거래금액,광주 평균단가
0,2020,6070016.50,39069751575,6436.514888,1815446.5,10765090387,5929.720533,2177778.71,15031529510,6902.229984,1347870.2,7661635628,5684.253297,1205680.59,10362840850,8595.013419
1,2021,7527764.35,49974377751,6638.674569,1759997.2,10636383763,6043.409480,2100209.00,14943386047,7115.189987,1095786.3,7811322209,7128.508733,1116020.30,10148755820,9093.701808
2,2022,7509742.92,56948621542,7583.298410,1799299.1,12400078786,6891.616178,1947622.20,15923964590,8176.105504,987740.1,8648772272,8756.121445,1165839.77,11556349836,9912.468363
3,2023,5359590.50,39844278424,7434.202002,1177795.7,8103620125,6880.327484,1297204.92,10434942370,8044.174216,623707.9,5299034922,8496.020208,791317.81,7760347215,9806.865354

In [40]:
get_data = get_data.rename(columns={'서울 평균거래금액':'서울 평균단가', '부산 평균거래금액':'부산 평균단가', '대구 평균거래금액':'대구 평균단가', '대전 평균거래금액':'대전 평균단가', '광주 평균거래금액':'광주 평균단가'})

In [41]:
year_df['전국 평균단가'] = (year_df['서울 총거래금액'] + year_df['부산 총거래금액'] + year_df['대구 총거래금액'] + year_df['대전 총거래금액'] + year_df['광주 총거래금액']) / (year_df['서울 총거래물량'] + year_df['부산 총거래물량'] + year_df['대구 총거래물량'] + year_df['대전 총거래물량'] + year_df['광주 총거래물량'])

In [42]:
year_df.to_csv('../data/TEMP/경락가격/깻잎/깻잎 년별 평균가격.csv', index=False, encoding='UTF-8')

In [43]:
year_df

,year,서울 총거래물량,서울 총거래금액,서울 평균단가,부산 총거래물량,부산 총거래금액,부산 평균단가,대구 총거래물량,대구 총거래금액,대구 평균단가,대전 총거래물량,대전 총거래금액,대전 평균단가,광주 총거래물량,광주 총거래금액,광주 평균단가,전국 평균단가
0,2020,6070016.50,39069751575,6436.514888,1815446.5,10765090387,5929.720533,2177778.71,15031529510,6902.229984,1347870.2,7661635628,5684.253297,1205680.59,10362840850,8595.013419,6569.882793
1,2021,7527764.35,49974377751,6638.674569,1759997.2,10636383763,6043.409480,2100209.00,14943386047,7115.189987,1095786.3,7811322209,7128.508733,1116020.30,10148755820,9093.701808,6876.158672
2,2022,7509742.92,56948621542,7583.298410,1799299.1,12400078786,6891.616178,1947622.20,15923964590,8176.105504,987740.1,8648772272,8756.121445,1165839.77,11556349836,9912.468363,7865.463620
3,2023,5359590.50,39844278424,7434.202002,1177795.7,8103620125,6880.327484,1297204.92,10434942370,8044.174216,623707.9,5299034922,8496.020208,791317.81,7760347215,9806.865354,7723.803523

In [44]:
years = get_data['Date'].dt.year.unique()
months = get_data['Date'].dt.month.unique()
grade_data = []
for i in years:
    for j in months:
        if ( i != 2023 ) or ( j not in [9, 10, 11, 12]):
            g_date = str(i)+"-"+str(j)
            seoul_data = year_df.loc[year_df['year']==i, '서울 평균단가'].values
            seoul_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '서울 평균단가'].values
            seoul_grade = seoul_data - seoul_data1

            busan_data = year_df.loc[year_df['year']==i, '부산 평균단가'].values
            busan_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '부산 평균단가'].values
            busan_grade = busan_data - busan_data1

            daegu_data = year_df.loc[year_df['year']==i, '대구 평균단가'].values
            daegu_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '대구 평균단가'].values
            daegu_grade = daegu_data - daegu_data1

            daejeon_data = year_df.loc[year_df['year']==i, '대전 평균단가'].values
            daejeon_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '광주 평균단가'].values
            daejeon_grade = daejeon_data - daejeon_data1

            gwangju_data = year_df.loc[year_df['year']==i, '광주 평균단가'].values
            gwangju_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '광주 평균단가'].values
            gwangju_grade = gwangju_data - gwangju_data1
            print(len(gwangju_grade))
            grade_data.append([g_date,seoul_grade[0], busan_grade[0], daegu_grade[0], daejeon_grade[0], gwangju_grade[0]])
print(grade_data)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
[['2020-1', -6179.566048441833, -3651.4188482099507, -5882.694482412381, -10165.617732721057, -7254.857610579327], ['2020-2', 507.17813470367946, 921.0381580718458, 724.2919812161645, -2621.7529147395862, 289.00720740214456], ['2020-3', 1201.644457172094, 1107.8363154287817, 1050.4187024901903, -2141.7826614832775, 768.9774606584533], ['2020-4', 860.1385059150962, 570.8788991724714, 651.6143841571256, -1484.2503254096746, 1426.5097967320562], ['2020-5', 1040.928416182578, 806.1486123336526, 917.2778340088626, -1150.551165520349, 1760.2089566213817], ['2020-6', 2245.8166620570446, 1853.7192783180308, 2412.7117958910258, 336.48224553092587, 3247.2423676726567], ['2020-7', 1485.8360841467556, 775.4854985279444, 1446.5388829779913, -280.072641866871, 2630.68748027486], ['2020-8', -3318.7843359277413, -3665.8874886053745, -3817.800707238225, -6353.491817456558, -3442.7316953148274], ['2020-9', -3574.835192363942, -4593.743958854537, -4444.799947356812, -7074.15124273212, -4163.39112059039], ['2020-10', 1293.5500446631258, 1063.330359620316, 1762.8741040904542, -1712.9886127296259, 1197.771509412105], ['2020-11', 2066.386196060178, 1945.1220909601798, 2169.55777335098, -625.6624847410749, 2285.097637400656], ['2020-12', -625.1560795431287, 223.01640819299791, -58.12136283081145, -3996.263369122672, -1085.5032469809412], ['2021-1', -1851.0457056186133, -1274.439674158115, -2624.451647636957, -6384.2563927874135, -4419.063317627908], ['2021-2', 357.89723097166643, 191.66045247547845, -658.3885350480341, -1997.7304990204184, -32.537423860912895], ['2021-3', 1616.1217197443893, 1692.2478548751415, 1494.2813985096964, -412.16691728255773, 1553.0261578769478], ['2021-4', 1347.605972305084, 1388.3347705227634, 1389.98593572563, -678.2126760181554, 1286.98039914135], ['2021-5', 964.4379322543009, 556.1324002303381, 1256.6717590633616, -422.5788749639296, 1542.614200195576], ['2021-6', 2449.7722298545223, 1853.4679355450717, 2845.435038734895, 2335.5767166597398, 4300.769791819245], ['2021-7', 2133.0816972568437, 1432.231811150904, 2259.8117394855153, 1514.001683891298, 3479.1947590508034], ['2021-8', -1402.3491096488324, -1306.3718423544406, -1057.02914974336, -2558.9451531627774, -593.7520780032719], ['2021-9', -4498.123044862097, -3028.460283538064, -4048.653518990339, -7832.863003483532, -5867.669928324027], ['2021-10', -1757.466738771218, -1640.023051818759, -1455.3744289680471, -5141.808039225444, -3176.6149640659387], ['2021-11', 115.16020001726883, -59.474190254477435, -249.1228984393165, -2822.1086992716255, -856.91562411212], ['2021-12', -2533.315168422603, -931.1929035736075, -2442.362072654185, -5181.24301877491, -3216.049943615404], ['2022-1', -3484.696988388848, -3263.543007729473, -4371.054985404647, -7750.444798929184, -6594.097881624379], ['2022-2', 787.9805373558102, 898.7249346995814, 302.15246580552866, -1991.699477643946, -835.3525603391408], ['2022-3', 613.8072016064152, 319.66909621582363, 262.7944709966159, -1986.0742823492528, -829.7273650444477], ['2022-4', 958.4975883516508, 754.6489605445213, 750.3743663611695, -1064.857881530399, 91.48903577440615], ['2022-5', 293.0166749635555, -75.03540066230198, 62.74165483253273, -670.5033447077458, 485.8435725970594], ['2022-6', 2057.923959728645, 1764.3675892750043, 2193.848848207638, 2223.6995906916572, 3380.0465079964624], ['2022-7', 685.8541575881818, 596.7610565200803, 940.9550001308244, 1208.683381257275, 2365.03029856208], ['2022-8', -1686.1971105941348, -1121.0794987510926, -1169.1883752871136, -1716.7692459315967, -560.4223286267916], ['2022-9', -3576.532395850413, -3027.027468702754, -3531.292780869072, -4442.607306596878, -3286.2603892920724], ['2022-10', 987.2508938604915, 508.34788822759947, 899.0457503319349, -829.8404678828956, 326.50644942190956], ['2022-11', 2570.050215952888, 2347.4660157733506, 2939.3247927699667, 1086.726359260766, 2243.073276565571], ['2022-12', -2143.479888171957, -799.5502221179277, -1597.391770088524, -4095.1396242078717, -2938.7927069030666], ['2023-1', -3276.2903154931955, -2545.6908781947286, -4420.4172049176295, -7253.065930050554, -5942.220783450521], ['2023-2', -910.3869115805519, -36.18162837633463, -598.4876023046409, -2895.4033643569364, -1584.558217756903], ['2023-3', 775.0074544698718, 767.267174136723, 905.5872760068405, -884.5332055531217, 426.31194104691167], ['2023-4', 197.053494140152, 170.60961229785153, 389.1253964455327, -1948.7729278623701, -637.9277812623368], ['2023-5', 165.22294186318413, -410.4255630374728, -103.0353200083855, -704.3043632402496, 606.5407833597837], ['2023-6', 2644.3389064000858, 2222.859748943034, 2984.998197290154, 3079.900886098648, 4390.746032698681], ['2023-7', -173.86692989496441, 240.1298313745865, 784.3414087546189, -1171.85336660746, 138.99177999257336], ['2023-8', -1791.1512335663392, -2925.9994601346307, -3650.404689725993, -3380.783965155697, -2069.9388185556636]]

In [45]:
mean_data = pd.DataFrame(grade_data, columns=['Date','서울 평균단가 편차', '부산 평균단가 편차', '대구 평균단가 편차', '대전 평균단가 편차', '광주 평균단가 편차'])

In [46]:
mean_data['Date'] = pd.to_datetime(mean_data['Date'])

In [47]:
mean_all = pd.merge(get_data, mean_data, on='Date', how='inner')

In [48]:
mean_all = mean_all[['Date', '서울 총거래물량', '서울 총거래금액', '서울 평균단가', '서울 평균단가 편차','부산 총거래물량', '부산 총거래금액', '부산 평균단가', '부산 평균단가 편차', '대구 총거래물량', '대구 총거래금액', '대구 평균단가', '대구 평균단가 편차','대전 총거래물량', '대전 총거래금액', '대전 평균단가', '대전 평균단가 편차', '광주 총거래물량', '광주 총거래금액', '광주 평균단가', '광주 평균단가 편차']]

In [49]:
mean_all['전국 평균단가'] = (mean_all['서울 총거래금액'] + mean_all['부산 총거래금액'] + mean_all['대구 총거래금액'] + mean_all['대전 총거래금액'] + mean_all['광주 총거래금액']) / (mean_all['서울 총거래물량'] + mean_all['부산 총거래물량'] + mean_all['대구 총거래물량'] + mean_all['대전 총거래물량'] + mean_all['광주 총거래물량'])

In [50]:
mean_all.to_csv('../data/TEMP/경락가격/깻잎/깻잎 월별 데이터와 평균편차.csv', index=False, encoding='UTF-8')

In [51]:
year_df = pd.read_csv('../data/TEMP/경락가격/깻잎/깻잎 년별 평균가격.csv', index_col=None)
get_data = pd.read_csv('../data/TEMP/경락가격/깻잎/깻잎 월별 데이터와 평균편차.csv', index_col=None)

In [52]:
get_data['Date'] = pd.to_datetime(get_data['Date'])

In [53]:
years = get_data['Date'].dt.year.unique()
months = get_data['Date'].dt.month.unique()
all_grade_data = []
for i in years:
    for j in months:
        if ( i != 2023 ) or ( j not in [9, 10, 11, 12]):
            g_date = str(i)+"-"+str(j)
            total_data = year_df.loc[year_df['year']==i, '전국 평균단가'].values
            total_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '전국 평균단가'].values
            total_grade = total_data - total_data1

            all_grade_data.append([g_date,total_grade[0]])
print(all_grade_data)

[['2020-1', -5567.529742569163], ['2020-2', 674.3188096201266], ['2020-3', 1031.845742601281], ['2020-4', 821.3713470229386], ['2020-5', 1090.526760878438], ['2020-6', 2273.150770921048], ['2020-7', 1477.441101322912], ['2020-8', -3461.539091636617], ['2020-9', -3833.3801108971993], ['2020-10', 1326.5481675167166], ['2020-11', 2111.7807242193394], ['2020-12', -416.35749910564573], ['2021-1', -1965.9627062638], ['2021-2', 295.76470351156604], ['2021-3', 1698.3083708330696], ['2021-4', 1459.90459904608], ['2021-5', 1035.5651932718438], ['2021-6', 2632.3827909985957], ['2021-7', 2136.199109353908], ['2021-8', -1373.508438081456], ['2021-9', -4475.279245924824], ['2021-10', -1903.9268985972712], ['2021-11', -36.89201930522813], ['2021-12', -2441.6963983826345], ['2022-1', -3878.5555973916753], ['2022-2', 629.5738160464489], ['2022-3', 341.17401074787904], ['2022-4', 864.0043299719382], ['2022-5', 297.09658396292616], ['2022-6', 2195.9456911181014], ['2022-7', 853.2908981223209], ['2022-8', -1452.8162825305599], ['2022-9', -3395.1944887748077], ['2022-10', 863.3188749052215], ['2022-11', 2631.4238681260977], ['2022-12', -1933.3074120846622], ['2023-1', -3635.831634496417], ['2023-2', -790.2763514651888], ['2023-3', 709.7766643095056], ['2023-4', 162.38596203347424], ['2023-5', 207.27442857609367], ['2023-6', 2873.985056271087], ['2023-7', -23.914695770571598], ['2023-8', -2254.18867655171]]

In [54]:
total_df = pd.DataFrame(all_grade_data, columns=['Date', '전국 평균단가 편차'])

In [55]:
total_df['Date'] = pd.to_datetime(total_df['Date'])

In [56]:
total_all = pd.merge(get_data, total_df, on='Date', how='inner')

In [57]:
total_all.to_csv('../data/TEMP/경락가격/깻잎/깻잎 월별 데이터와 평균편차(전국포함).csv', index=False, encoding='UTF-8')