In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import statistics
matplotlib.rcParams['axes.unicode_minus'] = False
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [20]:
get_data = pd.read_csv('../data/TEMP/경락가격/양파/양파 월별 총거래(정제).csv', index_col=None)
# year_df = pd.read_csv('../data/TEMP/경락가격/오이/오이 년별 평균가격.csv', index_col=None)
# get_data = pd.read_csv('../data/TEMP/경락가격/오이/오이 월별 총거래(정제2).csv', index_col=None)

In [21]:
get_data['Date'] = pd.to_datetime(get_data['Date'])

In [22]:
years = get_data['Date'].dt.year.unique()

In [23]:

year_mean = []
year_addon = []
for i in years:
    for j in get_data.columns:
        if '평균' in j:
            print(get_data.loc[get_data['Date'].dt.year == i,'%s' %j][:5])
            data_p = get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values
            year_addon.append(data_p.sum())
            # np_std= np.std(get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values)
            # print('표준편차: ',np_std)
            # year_addon.append(np_std)
        elif j != 'Date':
            data_p = get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values
            year_addon.append(data_p.sum())
        else:
            year_addon.append(i)
    year_mean.append(year_addon)
    year_addon = []

year_mean

0     850.299548
1    1065.910626
2    1184.568939
3     884.523227
4     694.235970
Name: 서울 평균거래금액, dtype: float64
0    801.968469
1    951.051331
2    877.264110
3    737.794945
4    582.040010
Name: 부산 평균거래금액, dtype: float64
0    793.571299
1    987.448199
2    855.629986
3    786.185141
4    553.094395
Name: 대구 평균거래금액, dtype: float64
0    807.809883
1    993.530845
2    988.243598
3    863.005288
4    681.568347
Name: 대전 평균거래금액, dtype: float64
0    772.806841
1    784.575261
2    798.343330
3    780.159375
4    641.744594
Name: 광주 평균거래금액, dtype: float64
12    1576.603389
13    1773.265723
14    1348.503606
15     857.397660
16     548.205464
Name: 서울 평균거래금액, dtype: float64
12    1437.990074
13    1644.517116
14    1435.160047
15     701.833985
16     475.627423
Name: 부산 평균거래금액, dtype: float64
12    1512.716622
13    1698.810012
14    1518.189287
15     714.078581
16     510.904832
Name: 대구 평균거래금액, dtype: float64
12    1521.749864
13    1750.827003
14    1520.229328
15     801.949745
16     524.538301
Name: 대전 평균거래금액, dtype: float64
12    1419.398766
13    1559.735800
14    1198.938599
15     724.979847
16     509.867371
Name: 광주 평균거래금액, dtype: float64
24    729.234701
25    655.293960
26    661.584599
27    586.547937
28    530.308184
Name: 서울 평균거래금액, dtype: float64
24    539.300800
25    405.092989
26    309.375788
27    339.494699
28    668.827866
Name: 부산 평균거래금액, dtype: float64
24    459.218112
25    345.351420
26    249.973325
27    415.160614
28    572.599897
Name: 대구 평균거래금액, dtype: float64
24    511.423698
25    401.991243
26    308.249889
27    440.791466
28    540.956979
Name: 대전 평균거래금액, dtype: float64
24    517.542314
25    448.251207
26    474.687031
27    498.922448
28    496.176541
Name: 광주 평균거래금액, dtype: float64
36    1439.262953
37    1628.810909
38    1301.041554
39    1113.118178
40    1066.324330
Name: 서울 평균거래금액, dtype: float64
36    1234.746453
37    1310.619964
38    1268.560978
39     903.171970
40    1051.349255
Name: 부산 평균거래금액, dtype: float64
36    1157.811308
37    1266.537313
38    1246.365400
39    1142.326517
40    1113.050305
Name: 대구 평균거래금액, dtype: float64
36    1236.494324
37    1363.715623
38    1288.853894
39    1101.678852
40    1054.435065
Name: 대전 평균거래금액, dtype: float64
36    1218.337210
37    1329.855968
38    1152.813383
39     993.440768
40     919.131264
Name: 광주 평균거래금액, dtype: float64

[[2020,
  28643863.0,
  23410318366,
  11420.180675475063,
  14674616.399999999,
  12034439360,
  9960.323091937185,
  35959296.2,
  28489421650,
  9904.703498106268,
  40277201.5,
  34538198720,
  10529.200349497716,
  8349609.0,
  6495632730,
  9895.217795726934],
 [2021,
  35038498.8,
  28286384615,
  12986.592743777615,
  10983886.0,
  9289969200,
  10393.976760225709,
  31075443.800000004,
  26676852760,
  10389.179751867028,
  39113825.5,
  32464919992,
  10989.206760225354,
  11895149.0,
  9602812040,
  10035.454593104858],
 [2022,
  29486508.7,
  20710385185,
  13058.93215428937,
  13677987.6,
  12150281500,
  10585.795208854135,
  43079801.8,
  32334159800,
  10147.022005332825,
  37665097.0,
  31121738576,
  10604.207482075259,
  12633129.700000001,
  8802605004,
  10513.49781721824],
 [2023,
  19939413.2,
  22819660100,
  10353.634732921853,
  7341655.8,
  7523010890,
  8431.98851855311,
  26685362.9,
  27462259900,
  8578.25053156864,
  21958250.0,
  24399853320,
  9043.703805615442,
  9875231.5,
  9598267980,
  8275.56164300865]]

In [24]:
year_df = pd.DataFrame(year_mean, columns=['year', '서울 총거래물량', '서울 총거래금액', '서울 평균단가','부산 총거래물량', '부산 총거래금액', '부산 평균단가', '대구 총거래물량', '대구 총거래금액', '대구 평균단가', '대전 총거래물량', '대전 총거래금액', '대전 평균단가', '광주 총거래물량', '광주 총거래금액', '광주 평균단가'])

In [25]:
for i in years:
    year_df.loc[year_df['year']== i,'서울 평균단가'] = year_df['서울 총거래금액']/year_df['서울 총거래물량']
    year_df.loc[year_df['year']== i,'부산 평균단가'] = year_df['부산 총거래금액']/year_df['부산 총거래물량']
    year_df.loc[year_df['year']== i,'대구 평균단가'] = year_df['대구 총거래금액']/year_df['대구 총거래물량']
    year_df.loc[year_df['year']== i,'대전 평균단가'] = year_df['대전 총거래금액']/year_df['대전 총거래물량']
    year_df.loc[year_df['year']== i,'광주 평균단가'] = year_df['광주 총거래금액']/year_df['광주 총거래물량']

year_df

,year,서울 총거래물량,서울 총거래금액,서울 평균단가,부산 총거래물량,부산 총거래금액,부산 평균단가,대구 총거래물량,대구 총거래금액,대구 평균단가,대전 총거래물량,대전 총거래금액,대전 평균단가,광주 총거래물량,광주 총거래금액,광주 평균단가
0,2020,28643863.0,23410318366,817.289147,14674616.4,12034439360,820.085448,35959296.2,28489421650,792.268611,40277201.5,34538198720,857.512375,8349609.0,6495632730,777.956516
1,2021,35038498.8,28286384615,807.294421,10983886.0,9289969200,845.781648,31075443.8,26676852760,858.454442,39113825.5,32464919992,830.011373,11895149.0,9602812040,807.288084
2,2022,29486508.7,20710385185,702.368171,13677987.6,12150281500,888.309147,43079801.8,32334159800,750.564266,37665097.0,31121738576,826.275280,12633129.7,8802605004,696.787353
3,2023,19939413.2,22819660100,1144.449933,7341655.8,7523010890,1024.702205,26685362.9,27462259900,1029.113226,21958250.0,24399853320,1111.192983,9875231.5,9598267980,971.953719

In [26]:
get_data = get_data.rename(columns={'서울 평균거래금액':'서울 평균단가', '부산 평균거래금액':'부산 평균단가', '대구 평균거래금액':'대구 평균단가', '대전 평균거래금액':'대전 평균단가', '광주 평균거래금액':'광주 평균단가'})

In [27]:
year_df['전국 평균단가'] = (year_df['서울 총거래금액'] + year_df['부산 총거래금액'] + year_df['대구 총거래금액'] + year_df['대전 총거래금액'] + year_df['광주 총거래금액']) / (year_df['서울 총거래물량'] + year_df['부산 총거래물량'] + year_df['대구 총거래물량'] + year_df['대전 총거래물량'] + year_df['광주 총거래물량'])

In [28]:
year_df.to_csv('../data/TEMP/경락가격/양파/양파 년별 평균가격.csv', index=False, encoding='UTF-8')

In [29]:
year_df

,year,서울 총거래물량,서울 총거래금액,서울 평균단가,부산 총거래물량,부산 총거래금액,부산 평균단가,대구 총거래물량,대구 총거래금액,대구 평균단가,대전 총거래물량,대전 총거래금액,대전 평균단가,광주 총거래물량,광주 총거래금액,광주 평균단가,전국 평균단가
0,2020,28643863.0,23410318366,817.289147,14674616.4,12034439360,820.085448,35959296.2,28489421650,792.268611,40277201.5,34538198720,857.512375,8349609.0,6495632730,777.956516,820.674333
1,2021,35038498.8,28286384615,807.294421,10983886.0,9289969200,845.781648,31075443.8,26676852760,858.454442,39113825.5,32464919992,830.011373,11895149.0,9602812040,807.288084,829.939832
2,2022,29486508.7,20710385185,702.368171,13677987.6,12150281500,888.309147,43079801.8,32334159800,750.564266,37665097.0,31121738576,826.275280,12633129.7,8802605004,696.787353,769.863969
3,2023,19939413.2,22819660100,1144.449933,7341655.8,7523010890,1024.702205,26685362.9,27462259900,1029.113226,21958250.0,24399853320,1111.192983,9875231.5,9598267980,971.953719,1069.966723

In [30]:
years = get_data['Date'].dt.year.unique()
months = get_data['Date'].dt.month.unique()
grade_data = []
for i in years:
    for j in months:
        if ( i != 2023 ) or ( j not in [9, 10, 11, 12]):
            g_date = str(i)+"-"+str(j)
            seoul_data = year_df.loc[year_df['year']==i, '서울 평균단가'].values
            seoul_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '서울 평균단가'].values
            seoul_grade = seoul_data - seoul_data1

            busan_data = year_df.loc[year_df['year']==i, '부산 평균단가'].values
            busan_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '부산 평균단가'].values
            busan_grade = busan_data - busan_data1

            daegu_data = year_df.loc[year_df['year']==i, '대구 평균단가'].values
            daegu_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '대구 평균단가'].values
            daegu_grade = daegu_data - daegu_data1

            daejeon_data = year_df.loc[year_df['year']==i, '대전 평균단가'].values
            daejeon_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '광주 평균단가'].values
            daejeon_grade = daejeon_data - daejeon_data1

            gwangju_data = year_df.loc[year_df['year']==i, '광주 평균단가'].values
            gwangju_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '광주 평균단가'].values
            gwangju_grade = gwangju_data - gwangju_data1
            print(len(gwangju_grade))
            grade_data.append([g_date,seoul_grade[0], busan_grade[0], daegu_grade[0], daejeon_grade[0], gwangju_grade[0]])
print(grade_data)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
[['2020-1', -33.01040046925948, 18.11697892647146, -1.3026881733371738, 84.70553430798554, 5.149675511201281], ['2020-2', -248.62147844153844, -130.96588357878318, -195.1795882902892, 72.93711427918515, -6.6187445175991115], ['2020-3', -367.2797921035618, -57.17866258927768, -63.361375392007744, 59.16904486164469, -20.38681393513957], ['2020-4', -67.23407969907566, 82.2905022497547, 6.083470126533371, 77.3529996682604, -2.202859128523869], ['2020-5', 123.05317718038395, 238.04543818087006, 239.17421594176244, 215.76778102722278, 136.21192223043852], ['2020-6', 233.70150827630266, 313.0861202149631, 308.71012811306565, 369.91365377911484, 290.3577949823306], ['2020-7', 138.21160523381582, 196.76702403459058, 204.78079762842788, 254.0459223442682, 174.49006354748394], ['2020-8', -148.6027903241544, 11.644082022075622, 9.839351753745518, 41.014741547781, -38.541117249003264], ['2020-9', -218.1902137457165, -82.57347775629376, -106.71114859603767, -127.76392736891432, -207.3197861656986], ['2020-10', -296.16986018834507, -146.59938407236837, -218.28855238617086, -195.3861814565587, -274.94204025334295], ['2020-11', -363.34840788481335, -259.7017982837973, -285.54296664336846, -212.1913746415314, -291.7472334383157], ['2020-12', -365.22017598058176, -302.228659065098, -295.68181116021776, -244.63460306794218, -324.19046186472644], ['2021-1', -769.3089675215875, -592.2084259775115, -654.2621806333672, -589.3873936261222, -612.1106826835786], ['2021-2', -965.9713012313752, -798.7354686980484, -840.3555699067084, -729.7244278621871, -752.4477169196435], ['2021-3', -541.2091843208915, -589.3783994916755, -659.7348448589258, -368.92722659686785, -391.6505156543243], ['2021-4', -50.10323847743996, 143.94766286624633, 144.3758603947448, 105.03152577934134, 82.3082367218849], ['2021-5', 259.08895737616126, 370.1542244632246, 347.54961017239964, 320.1440016490393, 297.42071259158286], ['2021-6', 88.00557605681263, 367.55352553200606, 397.7708148773754, 305.9460485049574, 283.22275944750095], ['2021-7', -18.34212850527865, 316.84529955647963, 368.2048003859191, 304.6148829988938, 281.89159394143735], ['2021-8', -195.87342705957906, 167.50197350038457, 226.87810501279455, 188.80670876642318, 166.08341970896674], ['2021-9', -276.2413549103329, 38.59768094966978, 88.90322424411829, 77.58231530850674, 54.859026251050295], ['2021-10', -281.65871737840223, 55.81424292322458, 88.12595600456211, 98.24827243815639, 75.52498338069995], ['2021-11', -306.3668803711015, 68.38634352525094, 113.03672422860393, 42.17925914007003, 19.45597008261359], ['2021-12', -241.07902079577013, 206.92435386740647, 291.78104941901483, 170.16791193489928, 147.44462287744284], ['2022-1', -26.86652979344933, 349.00834726859364, 291.34615380768855, 308.7329657370067, 179.24503859342065], ['2022-2', 47.07421054075462, 483.21615848740623, 405.212845377177, 378.024072888674, 248.536145745088], ['2022-3', 40.78357179223906, 578.9333588728816, 500.5909405786896, 351.5882488729628, 222.1003217293768], ['2022-4', 115.82023420415715, 548.8144481004521, 335.40365111200447, 327.3528318117232, 197.86490466813717], ['2022-5', 172.0599867782098, 219.4812813567629, 177.96436881338366, 330.09873889925603, 200.61081175567], ['2022-6', -421.5454337204783, -56.85343735259494, -145.50732627961202, 6.309375305758067, -123.17855183782797], ['2022-7', -538.9639551248351, -159.3379741721576, -322.42464157564086, -176.89634067133136, -306.3842678149174], ['2022-8', -608.7131228034195, -277.7319443711458, -391.76875320647264, -372.0329020915017, -501.5208292350877], ['2022-9', -740.9036293021366, -369.6224414774497, -404.2615621547491, -368.403421171796, -497.89134831538206], ['2022-10', -871.1877907353269, -424.85487111424163, -533.3805338032862, -393.91967247945536, -523.4075996230414], ['2022-11', -845.6879403099551, -418.81702636763293, -559.0864885804481, -494.5927559098054, -624.0806830533915], ['2022-12', -952.3837037315336, -398.3213420080174, -494.33947228021134, -494.45559646697484, -623.9435236105609], ['2023-1', -294.81302049921214, -210.04424740771174, -128.6980822678031, -107.14422658610215, -246.38349087761696], ['2023-2', -484.36097619721295, -285.9177583560049, -237.42408744129216, -218.66298447001645, -357.90224876153127], ['2023-3', -156.5916208657045, -243.858772253624, -217.25217418781995, -41.620399914030486, -180.8596642055453], ['2023-4', 31.331754576565345, 121.53023550774003, -113.2132914917338, 117.7522153252877, -21.48704896622712], ['2023-5', 78.12560289752946, -26.64704958895436, -83.93707953088665, 192.06171890932114, 52.82245461780633], ['2023-6', -128.31803316738024, 224.93103897348226, 233.81113478643158, 308.17524396152953, 168.93597967001472], ['2023-7', -111.501210429509, 139.27041260589817, 162.79452777775168, 170.8134265971447, 31.574162305629898], ['2023-8', -131.90776555762727, 46.36526565892348, 38.574328487008984, 192.60722754720712, 53.3679632556923]]

In [31]:
mean_data = pd.DataFrame(grade_data, columns=['Date','서울 평균단가 편차', '부산 평균단가 편차', '대구 평균단가 편차', '대전 평균단가 편차', '광주 평균단가 편차'])

In [32]:
mean_data['Date'] = pd.to_datetime(mean_data['Date'])

In [33]:
mean_all = pd.merge(get_data, mean_data, on='Date', how='inner')

In [34]:
mean_all = mean_all[['Date', '서울 총거래물량', '서울 총거래금액', '서울 평균단가', '서울 평균단가 편차','부산 총거래물량', '부산 총거래금액', '부산 평균단가', '부산 평균단가 편차', '대구 총거래물량', '대구 총거래금액', '대구 평균단가', '대구 평균단가 편차','대전 총거래물량', '대전 총거래금액', '대전 평균단가', '대전 평균단가 편차', '광주 총거래물량', '광주 총거래금액', '광주 평균단가', '광주 평균단가 편차']]

In [36]:
mean_all['전국 평균단가'] = (mean_all['서울 총거래금액'] + mean_all['부산 총거래금액'] + mean_all['대구 총거래금액'] + mean_all['대전 총거래금액'] + mean_all['광주 총거래금액']) / (mean_all['서울 총거래물량'] + mean_all['부산 총거래물량'] + mean_all['대구 총거래물량'] + mean_all['대전 총거래물량'] + mean_all['광주 총거래물량'])

In [39]:
mean_all.head()

,Date,서울 총거래물량,서울 총거래금액,서울 평균단가,서울 평균단가 편차,부산 총거래물량,부산 총거래금액,부산 평균단가,부산 평균단가 편차,대구 총거래물량,...,대구 평균단가 편차,대전 총거래물량,대전 총거래금액,대전 평균단가,대전 평균단가 편차,광주 총거래물량,광주 총거래금액,광주 평균단가,광주 평균단가 편차,전국 평균단가
0,2020-01-01,196129.0,166768400,850.299548,-33.010400,1242260.0,996253350,801.968469,18.116979,2276705.7,...,-1.302688,2946856.0,2380499400,807.809883,84.705534,148872.0,115049300,772.806841,5.149676,802.443257
1,2020-02-01,161702.0,172359880,1065.910626,-248.621478,1262447.0,1200651900,951.051331,-130.965884,2582537.8,...,-195.179588,2820738.0,2802490210,993.530845,72.937114,40260.0,31587000,784.575261,-6.618745,983.914010
2,2020-03-01,174813.0,207078050,1184.568939,-367.279792,1199742.8,1052491300,877.264110,-57.178663,2244144.0,...,-63.361375,2691912.0,2660264800,988.243598,59.169045,504657.0,402889550,798.343330,-20.386814,916.013848
3,2020-04-01,10802310.0,9554894100,884.523227,-67.234080,356549.0,263060050,737.794945,82.290502,1166191.4,...,6.083470,4174226.0,3602379110,863.005288,77.353000,1195291.0,932517480,780.159375,-2.202859,862.959390
4,2020-05-01,12249069.0,8503744300,694.235970,123.053177,803859.0,467878100,582.040010,238.045438,996047.7,...,239.174216,4766306.0,3248563300,681.568347,215.767781,1391894.0,893240450,641.744594,136.211922,676.211993

In [40]:
mean_all.to_csv('../data/TEMP/경락가격/양파/양파 월별 데이터와 평균편차.csv', index=False, encoding='UTF-8')

In [ ]:
year_df = pd.read_csv('../data/TEMP/경락가격/양파/양파 년별 평균가격.csv', index_col=None)
get_data = pd.read_csv('../data/TEMP/경락가격/양파/양파 월별 데이터와 평균편차.csv', index_col=None)

In [ ]:
get_data['Date'] = pd.to_datetime(get_data['Date'])

In [ ]:
years = get_data['Date'].dt.year.unique()
months = get_data['Date'].dt.month.unique()
all_grade_data = []
for i in years:
    for j in months:
        if ( i != 2023 ) or ( j not in [9, 10, 11, 12]):
            g_date = str(i)+"-"+str(j)
            total_data = year_df.loc[year_df['year']==i, '전국 평균단가'].values
            total_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '전국 평균단가'].values
            total_grade = total_data - total_data1

            all_grade_data.append([g_date,total_grade[0]])
print(all_grade_data)

[['2020-1', -5567.529742569163], ['2020-2', 674.3188096201266], ['2020-3', 1031.845742601281], ['2020-4', 821.3713470229386], ['2020-5', 1090.526760878438], ['2020-6', 2273.150770921048], ['2020-7', 1477.441101322912], ['2020-8', -3461.539091636617], ['2020-9', -3833.3801108971993], ['2020-10', 1326.5481675167166], ['2020-11', 2111.7807242193394], ['2020-12', -416.35749910564573], ['2021-1', -1965.9627062638], ['2021-2', 295.76470351156604], ['2021-3', 1698.3083708330696], ['2021-4', 1459.90459904608], ['2021-5', 1035.5651932718438], ['2021-6', 2632.3827909985957], ['2021-7', 2136.199109353908], ['2021-8', -1373.508438081456], ['2021-9', -4475.279245924824], ['2021-10', -1903.9268985972712], ['2021-11', -36.89201930522813], ['2021-12', -2441.6963983826345], ['2022-1', -3878.5555973916753], ['2022-2', 629.5738160464489], ['2022-3', 341.17401074787904], ['2022-4', 864.0043299719382], ['2022-5', 297.09658396292616], ['2022-6', 2195.9456911181014], ['2022-7', 853.2908981223209], ['2022-8', -1452.8162825305599], ['2022-9', -3395.1944887748077], ['2022-10', 863.3188749052215], ['2022-11', 2631.4238681260977], ['2022-12', -1933.3074120846622], ['2023-1', -3635.831634496417], ['2023-2', -790.2763514651888], ['2023-3', 709.7766643095056], ['2023-4', 162.38596203347424], ['2023-5', 207.27442857609367], ['2023-6', 2873.985056271087], ['2023-7', -23.914695770571598], ['2023-8', -2254.18867655171]]

In [ ]:
total_df = pd.DataFrame(all_grade_data, columns=['Date', '전국 평균단가 편차'])

In [ ]:
total_df['Date'] = pd.to_datetime(total_df['Date'])

In [ ]:
total_all = pd.merge(get_data, total_df, on='Date', how='inner')

In [ ]:
total_all.to_csv('../data/TEMP/경락가격/양파/양파 월별 데이터와 평균편차(전국포함).csv', index=False, encoding='UTF-8')