In [106]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import statistics
matplotlib.rcParams['axes.unicode_minus'] = False
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [107]:
get_data = pd.read_csv('../data/TEMP/경락가격/애호박/애호박 월별 총거래(정제).csv', index_col=None)

In [108]:
get_data['Date'] = pd.to_datetime(get_data['Date'])

In [109]:
years = get_data['Date'].dt.year.unique()

In [110]:

year_mean = []
year_addon = []
for i in years:
    for j in get_data.columns:
        if '평균' in j:
            data_p = get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values
            year_addon.append(data_p.sum())
            # np_std= np.std(get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values)
            # print('표준편차: ',np_std)
            # year_addon.append(np_std)
        elif j != 'Date':
            data_p = get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values
            year_addon.append(data_p.sum())
        else:
            year_addon.append(i)
    year_mean.append(year_addon)
    year_addon = []

year_mean

[[2020,
  51102052.3,
  101783384400,
  25988.072122596248,
  5660056.1,
  12674733776,
  28730.080370511805,
  13161830.0,
  21677981900,
  20721.621926051484,
  6090057.0,
  11588035170,
  23919.399775180762,
  6830758.7,
  13988202166,
  26100.967508096306],
 [2021,
  46174142.760000005,
  96540979170,
  27237.50759138543,
  5753657.0,
  13221287030,
  30181.800179689482,
  13593558.0,
  23273513218,
  22090.96828743961,
  4506057.0,
  9951150666,
  27385.399831836196,
  6168655.0,
  13356367665,
  27534.954951566524],
 [2022,
  47791699.419999994,
  108330801715,
  28723.828948027316,
  6384089.899999999,
  15242087730,
  30174.079700780665,
  13555823.0,
  24664233900,
  22822.441079591576,
  4866515.0,
  11134510089,
  28820.686019361136,
  7026107.5,
  15231159196,
  28014.850853381242],
 [2023,
  28206576.29,
  68388891702,
  20784.42409442935,
  3980311.4000000004,
  10402027600,
  22297.424840606884,
  7653050.0,
  16120285400,
  17020.948742481232,
  3000827.0,
  7650796664,
  21046.708539890344,
  4523155.0,
  11418522574,
  20782.777192626138]]

In [111]:
year_df = pd.DataFrame(year_mean, columns=['year', '서울 총거래물량', '서울 총거래금액', '서울 평균단가','부산 총거래물량', '부산 총거래금액', '부산 평균단가', '대구 총거래물량', '대구 총거래금액', '대구 평균단가', '대전 총거래물량', '대전 총거래금액', '대전 평균단가', '광주 총거래물량', '광주 총거래금액', '광주 평균단가'])

In [112]:
for i in years:
    year_df.loc[year_df['year']== i,'서울 평균단가'] = year_df['서울 총거래금액']/year_df['서울 총거래물량']
    year_df.loc[year_df['year']== i,'부산 평균단가'] = year_df['부산 총거래금액']/year_df['부산 총거래물량']
    year_df.loc[year_df['year']== i,'대구 평균단가'] = year_df['대구 총거래금액']/year_df['대구 총거래물량']
    year_df.loc[year_df['year']== i,'대전 평균단가'] = year_df['대전 총거래금액']/year_df['대전 총거래물량']
    year_df.loc[year_df['year']== i,'광주 평균단가'] = year_df['광주 총거래금액']/year_df['광주 총거래물량']

year_df

,year,서울 총거래물량,서울 총거래금액,서울 평균단가,부산 총거래물량,부산 총거래금액,부산 평균단가,대구 총거래물량,대구 총거래금액,대구 평균단가,대전 총거래물량,대전 총거래금액,대전 평균단가,광주 총거래물량,광주 총거래금액,광주 평균단가
0,2020,51102052.30,101783384400,1991.767059,5660056.1,12674733776,2239.330062,13161830.0,21677981900,1647.034029,6090057.0,11588035170,1902.779427,6830758.7,13988202166,2047.825546
1,2021,46174142.76,96540979170,2090.801765,5753657.0,13221287030,2297.892806,13593558.0,23273513218,1712.098717,4506057.0,9951150666,2208.394316,6168655.0,13356367665,2165.199329
2,2022,47791699.42,108330801715,2266.728387,6384089.9,15242087730,2387.511449,13555823.0,24664233900,1819.456768,4866515.0,11134510089,2287.984336,7026107.5,15231159196,2167.794785
3,2023,28206576.29,68388891702,2424.572589,3980311.4,10402027600,2613.370301,7653050.0,16120285400,2106.387048,3000827.0,7650796664,2549.562725,4523155.0,11418522574,2524.459713

In [113]:
get_data = get_data.rename(columns={'서울 평균거래금액':'서울 평균단가', '부산 평균거래금액':'부산 평균단가', '대구 평균거래금액':'대구 평균단가', '대전 평균거래금액':'대전 평균단가', '광주 평균거래금액':'광주 평균단가'})

In [114]:
year_df['전국 평균단가'] = (year_df['서울 총거래금액'] + year_df['부산 총거래금액'] + year_df['대구 총거래금액'] + year_df['대전 총거래금액'] + year_df['광주 총거래금액']) / (year_df['서울 총거래물량'] + year_df['부산 총거래물량'] + year_df['대구 총거래물량'] + year_df['대전 총거래물량'] + year_df['광주 총거래물량'])

In [115]:
years = get_data['Date'].dt.year.unique()
months = get_data['Date'].dt.month.unique()
grade_data = []
for i in years:
    for j in months:
        if ( i != 2023 ) or ( j not in [9, 10, 11, 12]):
            g_date = str(i)+"-"+str(j)
            seoul_data = year_df.loc[year_df['year']==i, '서울 평균단가'].values
            seoul_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '서울 평균단가'].values
            seoul_grade = seoul_data - seoul_data1

            busan_data = year_df.loc[year_df['year']==i, '부산 평균단가'].values
            busan_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '부산 평균단가'].values
            busan_grade = busan_data - busan_data1

            daegu_data = year_df.loc[year_df['year']==i, '대구 평균단가'].values
            daegu_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '대구 평균단가'].values
            daegu_grade = daegu_data - daegu_data1

            daejeon_data = year_df.loc[year_df['year']==i, '대전 평균단가'].values
            daejeon_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '광주 평균단가'].values
            daejeon_grade = daejeon_data - daejeon_data1

            gwangju_data = year_df.loc[year_df['year']==i, '광주 평균단가'].values
            gwangju_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '광주 평균단가'].values
            gwangju_grade = gwangju_data - gwangju_data1
            grade_data.append([g_date,seoul_grade[0], busan_grade[0], daegu_grade[0], daejeon_grade[0], gwangju_grade[0]])

In [116]:
mean_data = pd.DataFrame(grade_data, columns=['Date','서울 평균단가 편차', '부산 평균단가 편차', '대구 평균단가 편차', '대전 평균단가 편차', '광주 평균단가 편차'])

In [117]:
mean_data['Date'] = pd.to_datetime(mean_data['Date'])

In [118]:
mean_all = pd.merge(get_data, mean_data, on='Date', how='inner')

In [119]:
mean_all = mean_all[['Date', '서울 총거래물량', '서울 총거래금액', '서울 평균단가', '서울 평균단가 편차','부산 총거래물량', '부산 총거래금액', '부산 평균단가', '부산 평균단가 편차', '대구 총거래물량', '대구 총거래금액', '대구 평균단가', '대구 평균단가 편차','대전 총거래물량', '대전 총거래금액', '대전 평균단가', '대전 평균단가 편차', '광주 총거래물량', '광주 총거래금액', '광주 평균단가', '광주 평균단가 편차']]

In [127]:
mean_all['전국 평균단가'] = (mean_all['서울 총거래금액'] + mean_all['부산 총거래금액'] + mean_all['대구 총거래금액'] + mean_all['대전 총거래금액'] + mean_all['광주 총거래금액']) / (mean_all['서울 총거래물량'] + mean_all['부산 총거래물량'] + mean_all['대구 총거래물량'] + mean_all['대전 총거래물량'] + mean_all['광주 총거래물량'])

In [ ]:
years = mean_all['Date'].dt.year.unique()
months = mean_all['Date'].dt.month.unique()
all_grade_data = []
for i in years:
    for j in months:
        if ( i != 2023 ) or ( j not in [9, 10, 11, 12]):
            g_date = str(i)+"-"+str(j)
            total_data = year_df.loc[year_df['year']==i, '전국 평균단가'].values
            total_data1 = mean_all.loc[(mean_all['Date'].dt.month == j) & (mean_all['Date'].dt.year==i), '전국 평균단가'].values
            total_grade = total_data - total_data1

            all_grade_data.append([g_date,total_grade[0]])
print(all_grade_data)

[['2020-1', -1372.6737629937745], ['2020-2', -1175.1719396070373], ['2020-3', -544.7245211032612], ['2020-4', 565.8781132858703], ['2020-5', 684.6457574607098], ['2020-6', 693.3455775554817], ['2020-7', 409.49700732280917], ['2020-8', -950.6002993963118], ['2020-9', -1036.5615568230926], ['2020-10', 765.6285753700911], ['2020-11', 511.0563856349777], ['2020-12', -272.5275730058381], ['2021-1', -1533.9131244154933], ['2021-2', -1094.5544814068453], ['2021-3', -548.2440373511304], ['2021-4', 468.24703055487976], ['2021-5', 396.7025621060691], ['2021-6', 554.8992293816393], ['2021-7', 1191.6749709683481], ['2021-8', 340.2475366069766], ['2021-9', -124.55052490598109], ['2021-10', -210.41202448836248], ['2021-11', -335.4279853787257], ['2021-12', -1005.8754079414216], ['2022-1', -1533.6236008737433], ['2022-2', -420.37497500251766], ['2022-3', -389.8466866325148], ['2022-4', 589.5557399828576], ['2022-5', 913.4551753061387], ['2022-6', 416.9073641720115], ['2022-7', 64.03933356797643], ['2022-8', -1070.6260796896913], ['2022-9', -540.3577722315963], ['2022-10', 174.78779151691901], ['2022-11', 758.9650991739338], ['2022-12', -380.7898829441983], ['2023-1', -1184.8381010211247], ['2023-2', -1672.0353447216867], ['2023-3', -841.1293743144911], ['2023-4', 205.30350252231847], ['2023-5', 447.148155025714], ['2023-6', 774.0717994452866], ['2023-7', 654.9284359635303], ['2023-8', 631.2340874762292]]

In [ ]:
total_df = pd.DataFrame(all_grade_data, columns=['Date', '전국 평균단가 편차'])

In [ ]:
total_df['Date'] = pd.to_datetime(total_df['Date'])

In [ ]:
total_all = pd.merge(mean_all, total_df, on='Date', how='inner')

In [121]:
total_all.to_csv('../data/TEMP/경락가격/애호박/애호박 월별 데이터와 평균편차(전국포함).csv', index=False, encoding='UTF-8')

In [122]:
get_data = pd.read_csv('../data/TEMP/경락가격/애호박/애호박 월별 데이터와 평균편차(전국포함).csv', index_col=None)

In [123]:
get_data

,Date,서울 총거래물량,서울 총거래금액,서울 평균단가,서울 평균단가 편차,부산 총거래물량,부산 총거래금액,부산 평균단가,부산 평균단가 편차,대구 총거래물량,...,대구 평균단가 편차,대전 총거래물량,대전 총거래금액,대전 평균단가,대전 평균단가 편차,광주 총거래물량,광주 총거래금액,광주 평균단가,광주 평균단가 편차,전국 평균단가
0,2020-01-01,2780377.65,9830108400,3535.529931,-1543.762872,314022.5,1158346710,3688.737941,-1449.407879,810553.0,...,-860.657016,430426.0,1337955110,3108.443983,-1536.211640,478129.0,1644281360,3438.991067,-1391.165521,3324.666248
1,2020-02-01,2720669.88,9024401700,3316.977839,-1325.210781,331341.0,1143201466,3450.226401,-1210.896339,827334.0,...,-743.621860,406261.0,1228049490,3022.809204,-1286.961089,451781.0,1441064160,3189.740516,-1141.914970,3127.164424
2,2020-03-01,3739541.28,9722242800,2599.849038,-608.081980,435282.4,1220358529,2803.601820,-564.271759,978456.0,...,-330.683313,520843.0,1246237300,2392.731207,-666.689269,587348.0,1509172300,2569.468697,-521.643150,2496.717006
3,2020-04-01,5703989.95,7969557560,1397.189972,594.577086,607195.5,995696080,1639.827831,599.502230,1427859.0,...,465.590974,615618.0,884077957,1436.082046,461.396143,800667.0,1154068030,1441.383284,606.442262,1386.114372
4,2020-05-01,5487463.43,7107073600,1295.147328,696.619730,644394.2,875168986,1358.126727,881.203334,1371680.0,...,529.403022,631163.0,818889984,1297.430274,667.920800,759615.0,938017136,1234.858627,812.966919,1267.346727
5,2020-06-01,5435012.79,6912510040,1271.847980,719.919078,556802.2,827896497,1486.877202,752.452860,1417036.0,...,527.086124,623977.0,715574424,1146.796154,549.762902,715343.0,967870900,1353.016525,694.809021,1258.646907
6,2020-07-01,4369081.64,6969965000,1595.292918,396.474140,517931.6,935421697,1806.071877,433.258185,1249719.0,...,394.817251,554574.0,806098452,1453.545338,277.894227,545036.0,885620930,1624.885200,422.940346,1542.495478
7,2020-08-01,3399364.19,10140301900,2982.999565,-991.232506,419775.4,1354083040,3225.732237,-986.402175,1036770.0,...,-853.501094,401571.0,1112157900,2769.517470,-1134.063018,456631.2,1386717010,3036.842445,-989.016899,2902.592784
8,2020-09-01,4424172.16,13495784500,3050.465491,-1058.698432,425793.8,1461229576,3431.777485,-1192.447423,1069058.0,...,-944.127722,463269.0,1232979303,2661.475952,-1339.144621,448876.5,1455223520,3241.924048,-1194.098502,2988.554042
9,2020-10-01,5212849.56,6208943600,1191.084363,800.682695,509824.0,787313146,1544.284196,695.045866,1129309.0,...,640.683243,485244.0,526468105,1084.955414,633.744755,549347.0,697140390,1269.034672,778.790874,1186.363909
10,2020-11-01,4236717.58,6075622000,1434.039887,557.727172,464924.7,829270587,1783.666445,455.663616,876260.0,...,382.256224,505340.0,733375845,1451.252315,426.264019,534602.0,789348090,1476.515408,571.310139,1440.936099
11,2020-12-01,3592812.19,8326873300,2317.647809,-325.880750,432768.8,1086747462,2511.150208,-271.820146,967796.0,...,-164.459405,451771.0,946171300,2094.360417,-321.527592,503383.0,1119678340,2224.307019,-176.481472,2224.520058
12,2021-01-01,2515752.28,9552292700,3796.992564,-1706.190799,289478.7,1177572900,4067.908623,-1770.015817,872001.0,...,-1024.803763,304294.0,1139783000,3745.663733,-1425.714864,426124.0,1548581140,3634.109179,-1468.909851,3585.768269
13,2021-02-01,2784898.80,9301821850,3340.093310,-1249.291545,338578.5,1155127980,3411.699148,-1113.806342,927252.0,...,-717.530229,353502.0,1121350300,3172.118687,-998.051345,438692.0,1406642060,3206.445661,-1041.246332,3146.409626
14,2021-03-01,3687099.34,9773525250,2650.735537,-559.933772,455159.7,1365005850,2998.960255,-701.067449,1123990.0,...,-485.274124,470872.0,1277947300,2714.001470,-439.393612,645440.0,1708988240,2647.787928,-482.588599,2600.099182
15,2021-04-01,5199504.12,8397347080,1615.028450,475.773315,630508.1,1128403450,1789.673202,508.219605,1512958.0,...,368.914835,497880.0,844059300,1695.306700,604.743126,740575.0,1187623980,1603.651190,561.548139,1583.608114
16,2021-05-01,4877778.40,8370913570,1716.132404,374.669361,590536.4,1076573750,1823.043846,474.848960,1460342.0,...,349.201602,429576.0,756977050,1762.149305,575.509197,707860.0,1155854060,1632.885119,532.314210,1655.152583
17,2021-06-01,4793488.40,7282610250,1519.271487,571.530278,503662.0,895714800,1778.404565,519.488241,1469426.0,...,386.154914,410665.0,639144007,1556.363476,744.846800,653470.0,956384395,1463.547516,701.651813,1496.955915
18,2021-07-01,4644589.35,4126580450,888.470463,1202.331302,753932.9,760043600,1008.105098,1289.787708,1542884.0,...,1014.307762,435521.0,385714890,885.640164,1354.421314,557883.0,476417020,853.973002,1311.226327,860.180174
19,2021-08-01,3756797.22,6405382590,1705.011534,385.790231,550469.7,1062873200,1930.847783,367.045023,1098404.0,...,224.237330,278014.0,514594548,1850.966311,240.615898,433754.0,853531760,1967.778418,197.420911,1711.607608
20,2021-09-01,4588209.55,9799784380,2135.862426,-45.060661,535294.5,1422833300,2658.038332,-360.145526,1231269.0,...,-226.540280,407117.0,951951571,2338.275167,-306.717807,457802.0,1151423360,2515.112123,-349.912794,2176.405670
21,2021-10-01,3629822.45,8101611660,2231.958111,-141.156347,428466.3,1200484000,2801.816619,-503.923813,796739.0,...,-333.200581,310056.0,701738900,2263.265023,-186.301045,388098.0,929376480,2394.695360,-229.496032,2262.267169
22,2021-11-01,3600907.58,8648078750,2401.638631,-310.836866,415082.8,1154668800,2781.779443,-483.886636,932316.0,...,-354.595944,360056.0,889418300,2470.222132,-305.748383,422401.0,1061976390,2514.142699,-348.943370,2387.283130
23,2021-12-01,2095295.27,6781030640,3236.312675,-1145.510910,262487.4,821985400,3131.523265,-833.630459,625977.0,...,-746.655198,248504.0,728471500,2931.427663,-892.432442,296556.0,919568780,3100.826758,-935.627429,3057.730553
24,2022-01-01,2826074.21,11059930100,3913.531379,-1646.802992,403176.8,1657922300,4112.147078,-1724.635629,912350.0,...,-1045.003582,332482.0,1296292800,3898.836027,-1551.533233,397567.0,1526465481,3839.517568,-1671.722783,3726.458396
25,2022-02-01,2675632.47,7577148150,2831.909178,-565.180792,424483.4,1174968300,2767.995875,-380.484425,969204.0,...,-57.963363,327074.0,894418200,2734.605013,-384.380759,381397.0,1019232030,2672.365095,-504.570310,2613.209770
26,2022-03-01,3778510.27,10212341280,2702.742761,-436.014375,493467.1,1359360700,2754.713941,-367.202492,1310166.0,...,-269.632401,435242.0,1159167400,2663.271008,-415.693079,603878.0,1632691310,2703.677415,-535.882630,2582.681482
27,2022-04-01,5333956.87,8716659530,1634.182604,632.545782,685485.4,1238553550,1806.827031,580.684418,1435586.0,...,471.278811,544394.0,936057400,1719.448414,686.541914,756658.0,1211744220,1601.442422,566.352363,1603.279055
28,2022-05-01,5463470.80,7274140350,1331.413787,935.314599,779789.9,1065922700,1366.935761,1020.575689,1823389.0,...,743.404702,606272.0,822474400,1356.609575,1041.133696,880436.0,1097772190,1246.850640,920.944145,1279.379620
29,2022-06-01,4157530.70,7551977950,1816.457531,450.270856,573890.0,1121108250,1953.524630,433.986819,1262164.0,...,267.769269,421396.0,812966600,1929.222394,586.950977,694270.0,1180976430,1701.033359,466.761426,1775.927431
30,2022-07-01,3881636.81,8484135865,2185.710895,81.017492,556571.1,1311566200,2356.511504,30.999945,1102327.0,...,4.122842,341994.0,779220760,2278.463248,250.398974,584514.0,1190997170,2037.585362,130.209423,2128.795461
31,2022-08-01,3531789.62,11855329140,3356.748395,-1090.020009,453300.3,1488700230,3284.136874,-896.625424,914931.0,...,-926.585174,301412.5,1046903268,3473.323993,-1146.347718,417290.5,1433114140,3434.332054,-1266.537269,3263.460875
32,2022-09-01,4373461.66,12098845400,2766.423108,-499.694722,500642.5,1557952950,3111.907099,-724.395650,1029232.0,...,-543.945070,400199.5,1104257134,2759.266651,-510.919229,536174.0,1500699320,2798.903565,-631.108780,2733.192567
33,2022-10-01,4230645.50,8675414400,2050.612466,216.115921,528108.3,1236584150,2341.535155,45.976295,943872.0,...,50.854775,365177.0,698878900,1913.808646,326.956786,615581.0,1207171300,1961.027550,206.767235,2018.047003
34,2022-11-01,4390622.58,6394509650,1456.401577,810.326809,581909.6,938807950,1613.322671,774.188779,992662.0,...,568.781613,426864.0,636234720,1490.485775,923.919603,654273.0,892470725,1364.064733,803.730052,1433.869696
35,2022-12-01,3148367.93,8430369900,2677.695265,-410.966879,403265.5,1090640450,2704.522083,-317.010633,859940.0,...,-252.042290,364008.0,947638507,2603.345275,-366.066757,504069.0,1337824880,2654.051092,-486.256307,2573.624678
36,2023-01-01,2547523.26,9917351050,3892.938371,-1468.365782,350412.7,1355232750,3867.533197,-1254.162897,914512.0,...,-478.534637,317646.0,1164150400,3664.930142,-1110.122661,465491.0,1703550610,3659.685386,-1135.225673,3591.322292
37,2023-02-01,2291128.46,9745524250,4253.591372,-1829.018783,327964.8,1469923300,4481.954466,-1868.584165,728180.0,...,-1024.623965,270535.0,1150992900,4254.506441,-1789.800669,417574.0,1812005330,4339.363394,-1814.903681,4078.519535
38,2023-03-01,3499417.85,11626881000,3322.518630,-897.946041,506890.7,1816002650,3582.631621,-969.261320,1071186.0,...,-599.354718,396743.0,1353891000,3412.513894,-827.724746,640690.0,2163794310,3377.287471,-852.827758,3247.613565
39,2023-04-01,4256007.57,9463875000,2223.650885,200.921704,628393.0,1508674950,2400.846206,212.524095,1158282.0,...,199.967282,483886.0,1135657810,2346.953229,274.076676,669901.0,1524350380,2275.486049,248.973664,2201.180688
40,2023-05-01,5031917.64,10053772750,1998.000259,426.572330,735803.6,1549257600,2105.531422,507.838879,1351514.0,...,339.324924,559360.0,1081096100,1932.737593,625.426740,778047.0,1497068231,1924.135985,600.323728,1959.336036
41,2023-06-01,5310808.58,8540299650,1608.097811,816.474778,709416.0,1252341850,1765.313793,848.056507,1175960.0,...,514.300923,480428.0,844559542,1757.931557,888.977802,779726.0,1294801240,1660.584923,863.874790,1632.412391
42,2023-07-01,4200366.52,7128554702,1697.126826,727.445763,589043.6,1172076250,1989.795407,623.574893,970014.0,...,410.142767,390661.0,739138232,1892.019505,655.740700,612001.0,1159020973,1893.822025,630.637688,1751.555755
43,2023-08-01,1069406.41,1912633300,1788.499940,636.072649,132387.0,278518250,2103.818728,509.551572,283402.0,...,468.925068,101568.0,181310680,1785.116178,897.150767,159725.0,263931500,1652.411958,872.047755,1775.250103

In [124]:
get_data['전국 총거래물량'] = get_data['서울 총거래물량'] + get_data['부산 총거래물량'] + get_data['대구 총거래물량'] + get_data['대전 총거래물량'] + get_data['광주 총거래물량']
get_data['전국 총거래금액'] = get_data['서울 총거래금액'] + get_data['부산 총거래금액'] + get_data['대구 총거래금액'] + get_data['대전 총거래금액'] + get_data['광주 총거래금액']

In [125]:
seoul_columns = ['Date'] + list(get_data.columns[get_data.columns.str.contains('서울')])
seoul_data = get_data[seoul_columns]

busan_columns = ['Date'] + list(get_data.columns[get_data.columns.str.contains('부산')])
busan_data = get_data[busan_columns]

daegu_columns = ['Date'] + list(get_data.columns[get_data.columns.str.contains('대구')])
daegu_data = get_data[daegu_columns]

daejeon_columns = ['Date'] + list(get_data.columns[get_data.columns.str.contains('대전')])
daejeon_data = get_data[daejeon_columns]

gwangju_columns = ['Date'] + list(get_data.columns[get_data.columns.str.contains('광주')])
gwangju_data = get_data[gwangju_columns]

aways_columns = ['Date'] + list(get_data.columns[get_data.columns.str.contains('전국')])
aways_data = get_data[aways_columns]

In [126]:
aways_data = aways_data[['Date', '전국 총거래물량', '전국 총거래금액', '전국 평균단가', '전국 평균단가 편차']]

KeyError: "['전국 평균단가 편차'] not in index"

In [ ]:
seoul_data = seoul_data.rename(columns={'서울 총거래물량':'총거래물량', '서울 총거래금액':'총거래금액', '서울 평균단가':'평균단가', '서울 평균단가 편차':'평균단가 편차'})
busan_data = busan_data.rename(columns={'부산 총거래물량':'총거래물량', '부산 총거래금액':'총거래금액', '부산 평균단가':'평균단가', '부산 평균단가 편차':'평균단가 편차'})
daegu_data = daegu_data.rename(columns={'대구 총거래물량':'총거래물량', '대구 총거래금액':'총거래금액', '대구 평균단가':'평균단가', '대구 평균단가 편차':'평균단가 편차'})
daejeon_data = daejeon_data.rename(columns={'대전 총거래물량':'총거래물량', '대전 총거래금액':'총거래금액', '대전 평균단가':'평균단가', '대전 평균단가 편차':'평균단가 편차'})
gwangju_data = gwangju_data.rename(columns={'광주 총거래물량':'총거래물량', '광주 총거래금액':'총거래금액', '광주 평균단가':'평균단가', '광주 평균단가 편차':'평균단가 편차'})
aways_data = aways_data.rename(columns={'전국 총거래물량':'총거래물량', '전국 총거래금액':'총거래금액', '전국 평균단가':'평균단가', '전국 평균단가 편차':'평균단가 편차'})

In [ ]:
seoul_data['지역'] = '서울'
busan_data['지역'] = '부산'
daegu_data['지역'] = '대구'
daejeon_data['지역'] = '대전'
gwangju_data['지역'] = '광주'
aways_data['지역'] = '전국'

In [ ]:
all_data = pd.concat([seoul_data, busan_data, daegu_data, daejeon_data, gwangju_data, aways_data])

In [ ]:
all_data.to_csv('../data/TEMP/경락가격/애호박/애호박 컬럼 통합한 데이터와 표준편차.csv', index=False, encoding='UTF-8')